<%
    const {
        items,
        error,
        campaign
    } = locals;
    const when = (condition, text) => condition ? text : '';
    const lines = [...Array(items).keys()].map(i => ({
        name: 'サンプル商品 Sample Product',
        href: '#/product/sku',
        icon: 'https://httpstat.us/404',
        alt: 'product name',
        unitPrice: 1000,
        unitTax: 100,
        qty: 2,
        linePrice: campaign ? 1760 : 2200,
        tax: campaign ? 160 : 200,
        discountPrice: campaign ? 2200 - 1760 : 0,
        point: campaign ? 16 : 20,
        error: error && i == 1
    }))
%>

<%- include('gnav') %>
<section class="section content">
    <h1 class="h-border">ショッピングカート</h1>
    <% if (items === 0) { %>
        <div class="message-box">
            <p class="message text-center lead">カートに商品が入っていません。</p>
            <div class="block">
                <a class="btn btn-primary btn-prev">お買い物を続ける</a>
            </div>
        </div>
    <% } else { %>
        <% if (error) { %>
            <div class="alert alert-error">
                <p>「明細２」の在庫がありません。</p>
                <p>「明細２」は販売期間外です。</p>
            </div>
        <% } %>
        <%- include('cartLines', { items, error, campaign, action: true }) %>
        <% if (error) { %>
            <div class="alert alert-error">
                <p>「明細２」の在庫がありません。</p>
                <p>「明細２」は販売期間外です。</p>
            </div>
        <% } %>
        <div class="block block-vertical">
            <a href="./?path=/story/pages-site-login--before-checkout" class="btn btn-action btn-large btn-next" <%= when(error, 'disabled') %>>注文手続きへ進む</a>
            <a href="javascript:history.back()" class="btn btn-primary btn-text btn-prev">お買い物を続ける</a>
        </div>
    <% } %>
</section>