<% 
    const {
        src,
        ratio,
        notfound,
    } = locals;

    const klass = ['image'];

    if (ratio)
        klass.push('image-' + ratio);

    if (notfound)
        src = "https://httpstat.us/404";
 %>
<div class="<%= klass.join(' ') %>">
    <img src="<%= src %>" alt="Sample image" loading="lazy" decoding="async">
</div>