@charset "utf-8";

$font-family-default: Meiryo, 'メイリオ', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif !important;
$font-family-title: $font-family-default;
$font-family-price: "Segoe UI", sans-serif;

$font-weight-default: 400;
$font-weight-bold: 700;
$font-size-default: $unit * 1.5;
$line-height-default: $font-size-default * 2;
$letter-spacing-default: $font-size-default / 5;
