@charset "utf-8";

$font-family-default: Meiryo, 'メイリオ', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro', 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif;
$font-family-title: $font-family-default;
$font-family-price: "Segoe UI", sans-serif;

$font-weight-default: 400;
$font-weight-bold: 700;
$font-size-default: $unit * 1.5;
$line-height-default: $font-size-default * 2;
$letter-spacing-default: $font-size-default / 5;

@font-face {
  font-family: "PriceSymobl";
  src: local(Arial);
  size-adjust: 80%;
  unicode-range: U+00A5;
}
