.section {
    & + .section {
        margin-top: $unit * 8;
    }
}

hr {
    border: 1px solid $color-border;
    box-shadow: none;
    margin: $unit * 4 0;
}

.mt {
    margin-top: $unit * 8;
}

.mb {
    margin-bottom: $unit * 8;
}

.hide {
    display: none !important;
}

.sp-hide {
    @include mq($bp-sp) {
        display: none;
    }
}
.pc-hide {
    display: none;
    @include mq($bp-sp) {
        display: initial;
    }
}

.columns {
    display: flex;
    flex-direction: row;
    .col-1 { flex: 1; }
    .col-2 { flex: 2; }
    .col-3 { flex: 3; }
    .col-4 { flex: 4; }
    .col-5 { flex: 5; }
    .col-order-1 { order: 1; }
    .col-order-2 { order: 2; }
    .col-order-3 { order: 3; }
    .col-order-4 { order: 4; }
    .col-order-5 { order: 5; }
    @include mq($bp-sp) {
        flex-direction: column;
        .col-order-1-sp { order: 1; }
        .col-order-2-sp { order: 1; }
        .col-order-3-sp { order: 1; }
        .col-order-4-sp { order: 1; }
        .col-order-5-sp { order: 1; }
    }
}