@charset "utf-8";

// =============================================
// Foundation
// =============================================
@import "foundation/_reset";
@import "foundation/_font-map";
@import "foundation/_font-awesome.min";
/*@import "foundation/_line-awesome-font-awesome.min";*/
@import "foundation/_vars";
@import "foundation/_base";


// =============================================
// Object - Utility
// =============================================
/*@import "object/utility/_animation";*/
@import "object/utility/_mediaquery";
@import "object/utility/_device";


// =============================================
// Layout
// =============================================
@import "layout/_layout";

// =============================================
// Object - Component
// =============================================
@import "object/component/_breadcrumbs";
@import "object/component/_button";
@import "object/component/_form";
@import "object/component/_list";
// @import "object/component/_modal";
@import "object/component/_paging";
@import "object/component/_section";
@import "object/component/_stepNavigation";
@import "object/component/_text";
@import "object/component/_grid";
@import "object/component/_flexbox";
@import "object/component/_multiColumn";

// =============================================
// Object - Project
// =============================================
@import "object/project/_header";
@import "object/project/_footer";
@import "object/project/_title";
@import "object/project/_gnav";
@import "object/project/_tabNavigation";
@import "object/project/_productTile";
@import "object/project/_productDetail";
@import "object/project/_cart";
@import "object/project/_form";
@import "object/project/_topicTile";
@import "object/project/_filter";
@import "object/project/_searchResult";
@import "object/project/_topic";
@import "object/project/_container";
@import "object/project/_slider";
@import "object/project/_orderHistory";
@import "object/project/_skuTable";
@import "object/project/_tag";
@import "object/project/_custom";
@import "object/project/_errorPage";
@import "object/project/_ie11";

.field-validation-error { display:block !important;  }
.input-validation-error { background-color: #fae6e6 !important; }
.productImageMainItem { padding-bottom: 100%;}
.productImageMainItem img { position: absolute; top: 0; left: 0; }
.productImageSubItem { width: 64px; padding-bottom: 64px; margin-bottom: 12px; }
.productImageSubItem img { position: absolute; top: 0; left: 0; clip: rect(0,64px,64px,0); max-width: max-content; }
.productTileImage img { width: 100%; }
@media screen and (max-width: 960px) {
    .productImageMainItem img { left: 5%; }
}