<%
    const {
        serverError,
        hasBacklog
    } = locals;
%>
<%- include('gnav') %>
<main class="section content">
    <h1 class="h-underline">退会</h1>
    <% if (serverError) { %>
        <%- include('alert', { color: 'error' }) %>
    <% } %>
    <form action="#" method="post">
        <% if (!hasBacklog) { %>
            <div class="message-box">
                <p class="message">退会されるとマイページにログインできなくなります。また、これまでに貯めたポイントがご利用頂けなります。</p>
                <div class="message block block-vertical">
                    <label>
                        <input type="radio" 
                            name="Accept" 
                            value="true"
                        >
                        <span class="text">了承します。</span>
                    </label>
                    <p class="field-error" data-valmsg-for="Accept" data-valmsg-replace="true"></p>
                    <input type="hidden" name="Accept" value="false">
                </div>
            </div>
        <% } else { %>
            <div class="message-box">
                <p class="message">未配送の注文が残っているため、現時点では退会できません。<br>注文をキャンセル、もしくは、お荷物をお受け取り後、時間をおいて再度お試しください。</p>
            </div>
        <% } %>
        <div class="block block-vertical">
            <% if (!hasBacklog) { %>
                <!-- <button type="submit" name="update" value="post" class="btn btn-danger btn-text">退会する</button> -->
                <a href="./?path=/story/pages-top--default" class="btn btn-danger btn-text">退会する</a>
            <% } %>
            <a href="./?path=/story/pages-member-index--index" class="btn btn-default btn-prev">マイページへ戻る</a>
        </div>
    </form>
</main>
