@charset "utf-8";

/**************************************************
 *
 * パンくずリスト
 *
 **************************************************/
.breadcrumbs {
  background-color: #fff;
  text-align: left;
  &>ol {
    padding:$GUTTER ($GUTTER * 3.5);
    position: relative;
    &::before {
      position: absolute;
      display: block;
      content:"";
      width:6px;
      height:6px;
      top:50%;
      left:$GUTTER * 2;
      border-top:2px solid $accentColor;
      border-right:2px solid $accentColor;
      transform: translateY(-50%) rotate(45deg);
    }
    &>li {
      display:inline-block;
      @include fz(12);
      line-height: 1;
      color:$accentColor;
      font-weight: 500;
      &>a {
        display: inline-block;
        text-decoration: none;
        color:$linkColor;
        &::after {
          position:relative;
          display:inline-block;
          content:"|";
          margin-left:1em;
          margin-right:.5em;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @include mq($BP_TB) {
    &>ol {
      padding:($GUTTER / 1.5) $GUTTER ($GUTTER / 1.5) ($GUTTER * 3);
      line-height: 1.2;
      &::before {
        width:6px;
        height:6px;
        left:$GUTTER;
      }
      &>li {
        position: relative;
        display: inline;
        top:0;
        @include fz(11);
        word-break: normal;
        &>a {
          display: inline;
        }
      }
    }
  }
}

.paging,
.section.bgGray,
.topicShare {
  & + .breadcrumbs {
    margin-top:0;
    @include mq($BP_TB) {
      margin-top: 0;
    }
  }
}
