@charset "utf-8";

/**************************************************
 *
 * フォーム
 *
 **************************************************/
$placeholderColor:#ccc;

input[type=text],
input[type=search],
input[type=tel],
input[type=url],
input[type=email],
input[type=password],
input[type=datetime],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=number],
input[type=file],
textarea {
  -webkit-appearance: none;
  appearance: none;
  padding:$GUTTER;
  background:none;
  background-color:#fff;
  border:1px solid $inputThemeColor;
  box-sizing:border-box;
  //outline:none;
  font-family: $fontFamily;
  border-radius: 0;
  @include fz(14);
  &::placeholder {
    color:$placeholderColor;
  }
  &:-ms-input-placeholder {
    color:$placeholderColor;
  }
  &::-ms-input-placeholder {
    color:$placeholderColor;
  }
  @include mq($BP_TB) {
    @include fz(14);
    &::placeholder {
      color:$placeholderColor;
      @include fz(13);
    }
    &:-ms-input-placeholder {
      color:$placeholderColor;
      @include fz(13);
    }
    &::-ms-input-placeholder {
      color:$placeholderColor;
      @include fz(13);
    }
  }
}

select {
  padding:$GUTTER;
  background:none;
  background-color:#fff;
  border:1px solid $inputThemeColor;
  box-sizing:border-box;
  border-radius: 0;
  //outline:none;
  font-family: $fontFamily;
  line-height: 21px;
  @include fz(14);
  @include mq($BP_TB) {
    line-height: 24px;
    @include fz(14);
  }
}

.selectWrapper {
  position: relative;
  display: inline-block;
  select {
    cursor: pointer;
    width:100%;
    padding-right:30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
        display: none;
    }
  }
  &::after {
      position: absolute;
      display: block;
      content:"";
      width:6px;
      height:6px;
      top:calc(50% - 2px);
      right:$GUTTER;
      border-bottom:2px solid #999;
      border-right:2px solid #999;
      transform: translateY(-50%) rotate(45deg);
  }
  &.multiple {
    &::after {
      display: none;
    }
  }
  @include mq($BP_TB) {
    &.multiple {
      &::after {
        display: block;
      }
    }
  }
}

textarea {
  min-height:100px;
  resize:vertical;
  font-family: $fontFamily;
  border-radius: 0;
}

label {
  position: relative;
  display: inline-block;
  margin-right:$GUTTER * 4;
  &:last-of-type {
    margin-right: 0;
  }
  &.block {
    display: block;
  }
  @include mq($BP_TB) {
    margin-right:$GUTTER * 2;
  }
}

input[type=radio],
input[type=checkbox] {
  pointer-events: none;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
  & + .text {
    position:relative;
    display:inline-block;
    padding-left:30px;
    cursor:pointer;
    box-sizing:border-box;
    //outline:none;
    @include fz(14);
    user-select:none;
    text-shadow:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    line-height:1.2;
    &::before {
      position:absolute;
      display:block;
      content:"";
      top:50%;
      left:0;
      width:21px;
      height:21px;
      background-color:$inputThemeColor;
      border:1px solid $inputThemeColor;
      transform: translateY(-50%);
    }
    &::after {
      position:absolute;
      display:block;
      content:"";
      top:50%;
      left:7px;
      width:8px;
      height:5px;
      margin:-6px 0 0;
      border-left:2px solid #fff;
      border-bottom:2px solid #fff;
      transform:translateY(15%) rotate(-45deg);
    }
  }
  &:focus {
    & + .text{ 
      &::before {
        border: 2px solid white !important;
        box-shadow:0 0 0 2px $primaryColor;
      }
    }
  }
  &:checked {
    & + .text {
      &::before {
        background-color:$primaryColor;
        border-color:$primaryColor;
      }
      &::after {
        border-color: #fff;
      }
    }
  }
}
input[type=radio] {
  & + .text {
    &::before {
      border-radius:50%;
    }
  }
}

/**************************************************
 *
 * フォーム包括要素
 *
 **************************************************/
.formWrapper {
  padding:0 250px ($GUTTER * 5);
  border:5px solid #eee;
  @include mq($contentWidth) {
    width:100%;
    padding:$GUTTER * 2;
  }
  @include mq($BP_TB) {
    padding:0;
    border:0;
  }
}

.formSection {
  // 個別性が高いため、project/_form.scss に記述
}

/**************************************************
 *
 * 項目ブロック
 *
 **************************************************/
.formBlock {
  $self:&;
  display:flex;
  align-items:flex-start;
  margin-top:$GUTTER * 2;
  //padding-bottom:$GUTTER * 2.5;
  //border-bottom:1px solid #eee;
  &.noFlex {
    display: block;
    #{$self}Title {
      width: auto;
      padding:0;
    }
  }
  & > .formItem {
    width:100%;
    padding-top:0;
  }
  &Title {
    width:14em;
    padding-top:17px;
    padding-right:$GUTTER;
    text-align:left;
    @include fz(14);
    box-sizing:border-box;
    &.short {
      width:8.5em;
    }
    &.long {
      width:19em;
    }
    &.autoWidth {
      width:auto;
    }
    &::before {
      position: relative;
      display:inline-block;
      top:1px;
      margin:0 5px 0 0;
      padding:3px 6px;
      @include fz(11);
      font-weight: 400;
      white-space:nowrap;
      vertical-align:top;
      line-height:1;
    }
    &Sub {
      display:inline-block;
      @include fz(12);
    }
    & > #{&}Sub {
      margin-left:3px;
      margin-right:3px;
    }
  }
  &Body {
    flex:1 0 0%;
  }
  &.required {
    #{$self}Title {
      &::before {
        content:"必須";
        background-color:mix(#ff0000, $cautionColor, 30%);
        border:1px solid mix(#ff0000, $cautionColor, 30%);
        color:#fff;
      }
    }
  }
  &.optional {
    #{$self}Title {
      &::before {
        content:"任意";
        background-color:#fff;
        border:1px solid $primaryColor;
        color:$primaryColor;
      }
    }
  }
  .inputNote {
    margin-top:$GUTTER / 2;
    padding:5px;
    background-color:#fafafa;
    @include fz(12);
  }
  .name {
    display: flex;
    align-items: center;
    input[type=text] {
      flex:1 0 0%;
      min-width: 0;
      &:not(:first-child) {
        margin-left:$GUTTER / 2;
      }
    }
    span {
      display: block;
      flex:1 0 0%;
      padding: $GUTTER;
      &:not(:first-child) {
        margin-left:$GUTTER / 2;
      }
    }
  }
  .postalMark {
    display:inline-block;
    margin-top:$GUTTER / 2;
    margin-right:7px;
    & + .formItem {
      input {
        width:120px;
      }
    }
    & ~ .grow {
      margin-top:$GUTTER / 2;
      margin-left:$GUTTER;
      display: inline-block;
      @include fz(11);
      text-decoration: none;
      .pc {
        display: inline-block;
      }
      .sp {
        display: none;
      }
    }
  }
  .hyphen {
    margin-left:0;
    margin-right:0;
  }
  .divider {
    margin:0 $GUTTER;
  }
  .birthday {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .selectWrapper {
      min-width: 0;
      @include fz(13);
    }
  }
  @include mq($BP_SP) {
    display:block;
    margin-top:$GUTTER * 1.5;
    padding-bottom:0;
    border:0;
    &Title {
      width:100%;
      padding:0;
      @include fz(12);
      &.short {
        width:100%;
      }
      &.long {
        width:100%;
      }
      &::before {
        top:0;
        margin:0 5px 0 0;
        padding:3px 4px;
        @include fz(9);
      }
      &Sub {
        @include fz(10);
      }
    }
    .postalMark {
      & ~ .grow {
        .pc {
          display: none;
        }
        .sp {
          display: inline-block;
        }
      }
    }
  }
}

/**************************************************
 *
 * 個々のフォーム要素
 *
 **************************************************/
.formItem {
  position:relative;
  padding:($GUTTER / 2) 0 0;
  input[type=text],
  input[type=search],
  input[type=tel],
  input[type=url],
  input[type=email],
  input[type=password],
  input[type=datetime],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=number],
  input[type=file],
  select,
  textarea {
    min-width:50%;
    &.error {
      background-color:mix(#fff, $cautionColor, 90%);
    }
    &.fullWidth {
      width:100%;
    }
    &.shortWidth {
      min-width:0;
    }
    &:focus {
      border-color: $primaryColor;
    }
    @include mq($BP_TB) {
      width:100%;
    }
  }
  input[type=radio],
  input[type=checkbox] {
    & + .text {
      min-height:46px;
      padding-top:12px;
      line-height: 1.4;
      &::before,
      &::after {
        top:22px;
      }
    }
  }
  &.withLeftGutter {
    margin-left:$GUTTER / 2 !important;
  }
  &.withRightGutter {
    margin-right:$GUTTER / 2 !important;
  }
  &.error {
    input[type=text],
    input[type=search],
    input[type=tel],
    input[type=url],
    input[type=email],
    input[type=password],
    input[type=datetime],
    input[type=date],
    input[type=month],
    input[type=week],
    input[type=time],
    input[type=number],
    input[type=file],
    select,
    textarea {
      background-color:mix(#fff, $cautionColor, 90%);
    }
    input[type=radio],
    input[type=checkbox] {
      & + .text {
        &::before {
          //background-color:mix(#fff, $cautionColor, 90%);
        }
      }
    }
  }
  .selectWrapper {
    min-width: 50%;
    @include mq($BP_TB) {
      width:100%;
    }
  }
}

.inputRowSet {
  input[type=text],
  input[type=search],
  input[type=tel],
  input[type=url],
  input[type=email],
  input[type=password],
  input[type=datetime],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=number],
  input[type=file],
  select,
  textarea {
    width:auto;
    min-width:0;
  }
}

/**************************************************
 *
 * 個々のフォーム要素に付随するエラー表示
 *
 **************************************************/
.inputError {
  &List {
    // NOP
  }
  display: block;
  position:relative;
  margin-top:$GUTTER / 2;
  padding-left:15px;
  text-indent: -15px;
  color:$cautionColor;
  @include fz(12);
  line-height: 1.3;
  &::before {
    position: relative;
    display: inline-block;
    content:"\f06a";
    width:15px;
    text-indent: 0;
    font-family: "FontAwesome";
  }
}

/**************************************************
 *
 * サーバ側で検出されたサクセス/エラー表示
 *
 **************************************************/
.successOnSubmit,
.errorOnSubmit {
  width: $contentWidthPx;
  margin:($GUTTER * 3) auto 0;
  padding:$GUTTER * 2;
  text-align: center;
  &Text {
    display: inline-block;
    text-align: left;
    &:not(:first-of-type) {
      margin-top:$GUTTER;
    }
  }
  & + .section {
    margin-top:$GUTTER * 3;
  }
  @include mq($contentWidth) {
    width:calc(100% - (#{$GUTTER} * 2));
  }
  @include mq($BP_TB) {
    margin-top:$GUTTER * 2;
    margin-left:auto;
    margin-right: auto;
    padding:$GUTTER;
    & + .section {
      margin-top:$GUTTER * 2;
    }
  }
}

.successOnSubmit {
  background-color:mix(#fff, $baseStringColor, 95%);
  &Text {
    color:$baseStringColor;
  }
}

.errorOnSubmit {
  background-color:mix(#fff, $cautionColor, 95%);
  &Text {
    color:$cautionColor;
  }
}

/**************************************************
 *
 * 入力未完了時のボタン内警告文
 *
 **************************************************/
.incompleteMessage {
  display:block;
  margin-top:$GUTTER / 2;
  @include fz(12);
  color:#fff;
  &::before {
    position: relative;
    display: inline-block;
    content:"\f06a";
    width:20px;
    text-indent: 0;
    font-family: "FontAwesome";
    @include fz(14);
  }
}

/**************************************************
 *
 * 確認画面
 *
 **************************************************/
.inputContent {
  display:block;
  margin-top:8px;
  padding:$GUTTER / 2;
  background-color:#fafafa;
  white-space: pre-wrap;
  @include fz(16);
  @include mq($BP_TB) {
    margin-top:3px;
  }
}

/**************************************************
 *
 * 完了画面
 *
 **************************************************/
.completeMessage {
  margin:($GUTTER * 2) 0 ($GUTTER * 3);
  text-align: left;
  &.center {
    text-align: center;
  }
  &Text {
    &:not(:first-of-type) {
      margin-top:$GUTTER;
    }
  }
  @include mq($BP_TB) {
    margin:($GUTTER * 1.5) auto ($GUTTER * 2);
    &Text {
      display: block;
    }
  }
}

/**************************************************
 *
 * エラー画面
 *
 **************************************************/
.errorMessage {
  margin:0 auto ($GUTTER * 3);
  background-color:mix(#fff, $cautionColor, 95%);
  padding:$GUTTER * 2;
  text-align: center;
  &Text {
    display: inline-block;
    text-align: left;
    &:not(:first-of-type) {
      margin-top:$GUTTER;
    }
  }
  @include mq($BP_TB) {
    margin:0 auto ($GUTTER * 2);
    padding:$GUTTER;
    &Text {
      display: block;
    }
  }
}
