@charset "utf-8";

/**************************************************
 *
 * セクション
 *
 **************************************************/
.section {
  // sectionTitle -> _title.scss
  /*
  & + & {
    margin-top:$GUTTER * 8;
  }
  */
  margin-top:$GUTTER * 8;
  .breadcrumbs + & {
    margin-top:0;
  }
  &.withoutTopMargin {
    overflow: hidden;
    margin-top:0;
  }
  &.bgGray {
    padding-top:$GUTTER * 2;
    padding-bottom:$GUTTER * 2;
    background-color: #fafafa;
  }
  &.bgLightBlack {
    background-color: #272727;
    color:#fff;
  }
  /*
  & + .splitContainer {
    margin-top:$GUTTER * 8;
  }
  */
  @include mq($BP_TB) {
    margin-top:$GUTTER * 5;
    &.withoutTopMargin {
      margin-top:0;
      border: 0 solid transparent;
    }
    .breadcrumbs + & {
      margin-top:0;
    }
    /*
    & + .splitContainer {
      margin-top:$GUTTER * 5;
    }
    */
  }
}

.hero + .section {
  margin-top: $GUTTER * 3;
}