<main class="section content">
    <h1 class="h-underline">カートでエラーが発生しました</h1>
    <div class="message-box">
        <p class="message lead">以下の問題が発生しました。<br>お手数ですが、最初に戻って再度お手続きいただけますようお願いいたします。</p>
        <%- include('alert', { color: 'error' }) %>
        <div class="block">
            <a href="/?path=/story/pages-order-cart--default" class="btn btn-primary btn-prev">カートへ戻る</a>
        </div>
    </div>
</main>
