<main class="section content">
    <h1 class="h-underline">メールアドレスの認証が完了しました。</h1>
    <div class="message-box">
        <p class="message text-center">
            お買い物をお楽しみください。
        </p>
    </div>
</main>