@{
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    ViewBag.MetaTitle = "ゲスト注文詳細";
}
<main class="section content">
    <h1 class="h-underline">ゲスト注文詳細</h1>
    @DisplayViewMessages(viewData)
    <form action="@GuestOrderUrl((string)Page.ViewData["id"])" method="post">
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field">
            <dt class="field-title">電話番号下4桁</dt>
            <dd class="field-body">
                <input type="tel" name="authCode">
                @ValidationMessageFor("authCode")
            </dd>
        </dl>
        <div class="block">
            <button type="submit" class="btn btn-primary">表示する</button>
        </div>
    </form>
</main>