@{
    Page.NoCache = true;
    Layout = null;
}
@if(Page.Context.User.Identity.IsAuthenticated){
  <text>@Page.Context.User.Identity.Name &nbsp;|&nbsp;</text>
}
<a href="@CartUrl()">CART</a>
&nbsp;|&nbsp;
<a href="@MyPageUrl()">MYPAGE</a>