@{
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;

    ViewBag.PageTitle = "パスワード再設定";
}
<main class="section content">
    <h1 class="h-underline text-center">パスワードを再設定しました</h1>
    @DisplayViewMessages(viewData)
    <div class="message-box">
        <p class="message lead text-center">パスワードを再設定しました。再度、ログインをお試しください。</p>
    </div>
    <div class="block">
        <a href="@MyPageUrl()" class="btn btn-primary btn-next">ログインページへ</a>
    </div>
</main>
