<%
    const {
    } = locals;
%>
<%- include('gnav') %>
<main class="section content">
    <h1 class="h-underline">メールアドレスの確認が必要です</h1>
    <div class="message-box">
        <p class="message lead text-center">
            ご入力いただいたメールアドレスにメールを送信しました。<br>
            メールに記載のURLリンクをクリックし確認作業を完了してください。
        </p>
    </div>
    <div class="block">
        <a href="" class="btn btn-primary btn-text btn-next">再送信する</a>
    </div>
</main>
