<%
    const {
        serverError,
    } = locals;
%>
<%- include('gnav') %>
<main class="section content">
    <h1 class="h-underline">新規会員登録</h1>
    <% if (serverError) { %>
        <%- include('alert', { color: 'error' }) %>
    <% } %>
    <form action="" method="post">
        <dl class="field">
            <dt class="field-title">氏名</dt>
            <dd class="field-body">
                <p class="field-text">山田太郎</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">フリガナ</dt>
            <dd class="field-body">
                <p class="field-text">ヤマダタロウ</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">メールアドレス</dt>
            <dd class="field-body">
                <p class="field-text">info@commerble.com</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">パスワード</dt>
            <dd class="field-body">
                <p class="field-text">セキュリティのため表示しておりません</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">生年月日</dt>
            <dd class="field-body">
                <p class="field-text">yyyy年MM月dd日</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">性別</dt>
            <dd class="field-body">
                <p class="field-text">未設定</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">メルマガ配信</dt>
            <dd class="field-body">
                <p class="field-text">希望しない</p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <button type="submit" class="btn btn-action btn-large" name="create" value="create">この内容で登録する</button>
            <button type="submit" class="btn btn-primary btn-text btn-prev">登録内容を変更する</button>
        </div>
    </form>
</main>