@{
    var account = Page.ViewData.Model as PointBank.Account;
    if(account == null){
        account = new PointBank.Account();
    }

    ViewBag.PageTitle = "マイページ - ポイント情報";
}
<main class="content-wide columns">
    <div class="col-3 col-order-2 col-order-1-sp">
        <h1 class="h-underline">ポイント情報</h1>
        <dl class="field">
            <dt class="field-title">有効ポイント</dt>
            <dd class="field-body">
                <p class="field-text">@FormatPoint(account.ActivePoint)ポイント</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">仮ポイント</dt>
            <dd class="field-body">
                <p class="field-text">@FormatPoint(account.TemporaryPoint) ポイント</p>
                <p class="field-note">仮ポイントは出荷後に有効化されます。</p>
            </dd>
        </dl>
        @if (account.ActivePoint > 0 || account.TemporaryPoint > 0) {
            <dl class="field">
                <dt class="field-title">有効期限</dt>
                <dd class="field-body">
                    <p class="field-text">@account.ExpireDate.ToString("yyyy年M月d日")</p>
                </dd>
            </dl>
        }
    </div>
    <div class="col-1 col-order-1 col-order-2-sp">
        @Page.Html.Partial("ModdSharedMemberNav", null)
    </div>
</main>