<%
    const {
        customer,
        delivery,
    } = locals;
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STEP 1</title>
</head>
<body>
    <%- include('gheader') %>
    <section class="section content">
        <h1 class="h-underline">購入</h1>
        <form action="@PurchaseShippingUrl()" method="post">
            <h2 class="h-title">お客様情報</h2>
            <% if (customer === 'guest') { %>
                <dl class="field required">
                    <dt class="field-title">氏名</dt>
                    <dd class="field-body">
                        <input type="text" placeholder="山田"><input type="text"  placeholder="太郎">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">フリガナ</dt>
                    <dd class="field-body">
                        <input type="text" placeholder="ヤマダ"><input type="text"  placeholder="タロウ">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">郵便番号</dt>
                    <dd class="field-body">
                        <div class="field-group"><input type="tel" size="7" placeholder="1000013" maxlength="7"><button class="btn">検索</button></div>
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">都道府県</dt>
                    <dd class="field-body">
                        <input type="text" size="7" readonly>
                        <p class="field-error" style="display:none;"></p>
                        <p class="field-note">郵便番号検索から自動入力されます。</p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">市区町村</dt>
                    <dd class="field-body">
                        <input type="text" readonly>
                        <p class="field-error" style="display:none;"></p>
                        <p class="field-note">郵便番号検索から自動入力されます。</p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">通り・丁番地</dt>
                    <dd class="field-body">
                        <input type="text">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field optional">
                    <dt class="field-title">建物名・部屋番号</dt>
                    <dd class="field-body">
                        <input type="text">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">電話番号</dt>
                    <dd class="field-body">
                        <input type="tel" maxlength="11">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">メールアドレス</dt>
                    <dd class="field-body">
                        <input type="email">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
            <% } else if (customer == 'member(no address)') { %>
                <dl class="field">
                    <dt class="field-title">氏名</dt>
                    <dd class="field-body">
                        <p class="field-text">山田 太郎</p>
                    </dd>
                </dl>
                <dl class="field">
                    <dt class="field-title">フリガナ</dt>
                    <dd class="field-body">
                        <p class="field-text">ヤマダ タロウ</p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">郵便番号</dt>
                    <dd class="field-body">
                        <div class="field-group"><input type="tel" size="7" placeholder="1000013" maxlength="7"><button class="btn">検索</button></div>
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">都道府県</dt>
                    <dd class="field-body">
                        <input type="text" size="7" readonly>
                        <p class="field-error" style="display:none;"></p>
                        <p class="field-note">郵便番号検索から自動入力されます。</p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">市区町村</dt>
                    <dd class="field-body">
                        <input type="text" readonly>
                        <p class="field-error" style="display:none;"></p>
                        <p class="field-note">郵便番号検索から自動入力されます。</p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">通り・丁番地</dt>
                    <dd class="field-body">
                        <input type="text">
                    </dd>
                </dl>
                <dl class="field optional">
                    <dt class="field-title">建物名・部屋番号</dt>
                    <dd class="field-body">
                        <input type="text">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">電話番号</dt>
                    <dd class="field-body">
                        <input type="tel" maxlength="11">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">メールアドレス</dt>
                    <dd class="field-body">
                        <p class="field-text">info@commerble.com</p>
                    </dd>
                </dl>
            <% } else { %>
                <dl class="field">
                    <dt class="field-title">氏名</dt>
                    <dd class="field-body">
                        <p class="field-text">山田 太郎</p>
                    </dd>
                </dl>
                <dl class="field">
                    <dt class="field-title">フリガナ</dt>
                    <dd class="field-body">
                        <p class="field-text">ヤマダ タロウ</p>
                    </dd>
                </dl>
                <dl class="field">
                    <dt class="field-title">住所</dt>
                    <dd class="field-body">
                        <p class="field-text">〒1000000 東京都中央区日本橋蛎殻町</p>
                    </dd>
                </dl>
                <dl class="field">
                    <dt class="field-title">電話番号</dt>
                    <dd class="field-body">
                        <p class="field-text">00000000000</p>
                    </dd>
                </dl>
                <dl class="field">
                    <dt class="field-title">メールアドレス</dt>
                    <dd class="field-body">
                        <p class="field-text">info@commerble.com</p>
                    </dd>
                </dl>
            <% } %>
            <% if (delivery) { %> 
                <h2 class="h-title">お届け先</h2>
                <dl class="field required">
                    <dt class="field-title">氏名</dt>
                    <dd class="field-body">
                        <input type="text" placeholder="山田"><input type="text"  placeholder="太郎">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">フリガナ</dt>
                    <dd class="field-body">
                        <input type="text" placeholder="ヤマダ"><input type="text"  placeholder="タロウ">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">郵便番号</dt>
                    <dd class="field-body">
                        <div class="field-group"><input type="tel" size="7" placeholder="1000013" maxlength="7"><button class="btn">検索</button></div>
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">都道府県</dt>
                    <dd class="field-body">
                        <input type="text" size="7" readonly>
                        <p class="field-error" style="display:none;"></p>
                        <p class="field-note">郵便番号検索から自動入力されます。</p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">市区町村</dt>
                    <dd class="field-body">
                        <input type="text" readonly>
                        <p class="field-error" style="display:none;"></p>
                        <p class="field-note">郵便番号検索から自動入力されます。</p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">通り・丁番地</dt>
                    <dd class="field-body">
                        <input type="text">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field optional">
                    <dt class="field-title">建物名・部屋番号</dt>
                    <dd class="field-body">
                        <input type="text">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <dl class="field required">
                    <dt class="field-title">電話番号</dt>
                    <dd class="field-body">
                        <input type="tel" maxlength="11">
                        <p class="field-error" style="display:none;"></p>
                    </dd>
                </dl>
                <div class="block block-vertical">
                    <!-- <button class="btn btn-action btn-large" name="next" value="exec">お支払方法の指定に進む</button> -->
                    <a href="./?path=/story/pages-purchase-payment--default" class="btn btn-action btn-large">お支払方法の指定に進む</a>

                    <!-- <button class="btn btn-primary btn-text btn-large" name="next_copy" value="exec">お客様住所に届ける</button> -->
                    <a href="./?path=/story/pages-purchase-payment--default" class="btn btn-primary btn-text btn-large">お客様住所に届ける</a>
                </div>
            <% } else { %>
                <div class="block block-vertical">
                    <!-- <button class="btn btn-action btn-large" name="next_copy" value="exec">お客様住所に届ける</button> -->
                    <a href="./?path=/story/pages-purchase-payment--default" class="btn btn-action btn-large">お客様住所に届ける</a>
                    <button type="button" class="btn btn-primary btn-text btn-large">別のお届け先を指定する</button>
                </div>
            <% } %>
        </form>
    </section>
    <%- include('gfooter') %>
</body>
</html>