<%
    const {
    } = locals;
    const i = 1;
%>
<%- include('gnav') %>
<main class="section content">
    <h1 class="h-underline">次回入荷分を予約</h1>
    <form action="@ReserveCreateUrl(vm.ProductId)" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">商品</th>
                    <th>個数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <a href="/?path=/story/pages-item--default" class="product-icon" title="SKU名">
                            <div class="image image-square">
                                <img src="https://httpstat.us/404" alt="SKUサムネ">
                            </div>
                        </a>
                    </td>
                    <td align="center">
                        <a href="/?path=/story/pages-item--default" class="product-icon" title="SKU名">
                            商品SKU名 <br>
                            <%- include('price', {
                                price: 1000,
                                tax: 'include',
                                yenMark: true,
                            }) %>
                        </a>
                    </td>
                    <td data-title="個数">
                        <select name="RequestAmount">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="block block-horizontal">
            <!-- <button type="sbumit" name="commit" value="post" class="btn btn-action btn-large">次回入荷分を予約する</button> -->
            <a href="/?path=/story/pages-member-notices--complete" class="btn btn-action btn-large">次回入荷分を予約する</a>
        </div>
    </form>
</main>