<main class="section content">
    <h1 class="h-underline">お支払いのご案内</h1>
    <div class="message-box">
        <p class="message text-center lead">
            在庫の確保が完了致しました。<br>
            決済代行会社が提供するお支払ページよりお支払ください。
        </p>
        <div class="message block">
            <ul class=" text-list-dot">
                <li>お支払有効期限：yyyy/MM/dd HH:mm:ss</li>
                <li>有効期限をすぎますと確保された在庫は自動的にキャンセルされます。</li>
            </ul>
        </div>
        <form method="post" action="" class="block">
            <!-- <button type="submit" class="btn btn-action btn-large btn-next">お支払いページへ進む</button> -->
            <a href="./?path=/story/pages-purchase-complete--default" class="btn btn-action btn-large btn-next">お支払いページへ進む</a>
        </form>
    </div>
</main>