@charset "utf-8";

/**************************************************
 *
 * フィルター
 *
 **************************************************/
.filter {
  &Title {
    display: inline-block;
    @include fz(14);
    &::after {
      content:"：";
    }
  }
  text-align: right;
  padding:$GUTTER ($GUTTER * 2);
  box-shadow: 1px 1px 15px 0 #aaa;
  .selectWrapper {
    margin-left:$GUTTER;
  }
  select {
    width:220px;
    border:1px solid #9f9f9f;
  }
  @include mq($BP_SP) {
    &Title {
      display: none;
    }
    text-align: center;
    padding:$GUTTER $GUTTER;
    .selectWrapper {
      width:100%;
      margin-left:0;
      & + .selectWrapper {
        margin-top:$GUTTER / 2;
      }
    }
    select {
      width:100%;
    }
  }
}

