@charset "utf-8";
/**************************************************
 *
 * フッター
 *
 **************************************************/
footer {
  margin-top:($GUTTER * 6);
  @include fz(12);
}

.footerBottomSection {
  background-color:$primaryColor;
  padding:($GUTTER * 3) $GUTTER;
  color:#fff;
  text-align: center;
}

.footerLinkListSection {
  background-color: #151314;
  padding:($GUTTER * 3) $GUTTER ($GUTTER * 4);
}

.footerLinkLists {
  display: flex;
  justify-content: space-between;
  padding: 0 180px;
  @include mq($BP_TB) {
    display: block;
    padding: 0;
  }
}

.footerLinkList {
  flex: 1 0 0%;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
  }
  @include mq($BP_TB) {
    &:not(:first-of-type) {
      margin-top: ($GUTTER * 3);
    }
  }
}

.footerLinkTitle>a {
  color: #999;
  @include fz(13);
}

.footerLink {
  margin-top: ($GUTTER / 2);
  &>a {
    @include fz(12);
  }
  &:first-of-type {
    margin-top: ($GUTTER * 2);
    @include mq($BP_TB) {
      margin-top: ($GUTTER);
    }
  }
}
.copyright a {
  color: $baseColor;
}