@charset "utf-8";

/**************************************************
 *
 * カスタムフォーム
 *
 **************************************************/
.accordionFormBlock {
  $self:&;
  overflow: hidden;
  max-height:0;
  transition: max-height .1s;
  &.active {
    max-height:700px;
    transition: max-height .3s;
    margin-top: $GUTTER * 1.5;
    padding:($GUTTER * 2);
    background-color: #fafafa;
    .formBlock {
      &:first-of-type {
        margin-top:0;
      }
    }
  }
  & + #{$self} {
    margin-top:0;
      &.active {
        //padding-top:0;
      }
  }
}

.breaker {
  // accordionFormBlockの隣接を意図的に分断するためのクラス
  display: none;
  border:0;
  margin:0;
  opacity: 0;
  visibility: hidden;
}

.removablePasswordMask {
  position: relative;
  display: flex;
  justify-content: flex-start;
  input[type=text],
  input[type=password] {
    border-right:0;
  }
  .fa {
    cursor: pointer;
    flex:0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border:1px solid $inputThemeColor;
  }
}

.formSection {
  margin-top:$GUTTER * 5;
  &Title {
    padding-bottom:$GUTTER * 2;
    @include fz(18);
    font-weight: 700;
    text-align: left;
    letter-spacing: .1em;
    border-bottom:1px solid $primaryColor;
    &.center {
      text-align: center;
    }
    .hasSub {
      display: inline-block;
      margin-right:$GUTTER * 3;
    }
    .sub {
      display: inline-block;
      @include fz(12);
    }
  }
  &Lead {
    margin-top:$GUTTER * 2;
  }
  & + .buttonContainer {
    margin-top:$GUTTER * 5;
    .btLargeSize {
      min-width: 400px;
    }
  }
  @include mq($BP_TB) {
    margin-top: $GUTTER * 3;
    padding:0 $GUTTER;
    &Title {
      @include fz(16);
      .fa {
        top:2px;
        margin-right: 5px;
        @include fz(21);
        &.fa-edit {
          top:3px;
        }
        &.fa-envelope {
          top:1px;
        }
      }
    }
    &Lead {
      @include fz(12);
    }
    & + .buttonContainer {
      margin-top:$GUTTER * 3;
    }
  }
  @include mq($BP_SP) {
    &Title {
      padding-bottom:$GUTTER;
      .hasSub {
        margin-right: 0;
      }
      .sub {
        display: block;
        margin-left:0;
        margin-top:$GUTTER / 4;
        @include fz(11);
        color:#999;
        font-weight: normal;
      }
    }
    &Lead {
      margin-top:$GUTTER * 1.5;
    }
    & + .buttonContainer {
      .btLargeSize {
        min-width: 0;
        width:100%;
      }
    }
  }
}

.concent {
  margin-top:$GUTTER * 5;
  padding:$GUTTER;
  background-color: #fafafa;
  text-align: center;
  br {
    display: none;
  }
  a {
    &:hover {
      opacity: .5;
    }
  }
  @include mq($BP_TB) {
    margin-top:$GUTTER * 3;
  }
  @include mq($BP_SP) {
    br {
      display: inline-block;
    }
  }
}

.loginNotification {
  width:$contentWidthPx;
  margin:($GUTTER * 5) auto 0;
  padding:($GUTTER * 2) ($GUTTER * 10);
  background-color: #f8f8f8;
  border:1px solid #eee;
  &Title {
    position: relative;
    @include fz(20);
    font-weight: 700;
    text-align: center;
    &::after {
      position: absolute;
      display: block;
      content:"";
      width:100px;
      height:3px;
      left:50%;
      bottom:-10px;
      background-color: $accentColor;
      transform: translateX(-50%);
    }
    br {
      display: none;
    }
  }
  &Body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:$GUTTER * 3;
  }
  &Lead {
    flex:1 0 0%;
  }
  .buttonContainer {
    margin-left:$GUTTER * 2;
    [class^=bt] {
      margin:0;
    }
  }
  @include mq($contentWidth) {
    width:calc(100% - (#{$GUTTER} * 2));
    padding:($GUTTER * 2) ($GUTTER * 5);
  }
  @include mq($BP_TB) {
    padding:($GUTTER * 2) ($GUTTER * 2);
    &Title {
      @include fz(20);
    }
    &Body {
      display: block;
      margin-top:$GUTTER * 3;
    }
    .buttonContainer {
      margin-top:$GUTTER * 2;
      margin-left:0;
    }
  }
  @include mq($BP_SP) {
    &Title {
      @include fz(16);
      br {
        display: inline-block;
      }
    }
    .buttonContainer {
      padding:0;
      .btLargeSize {
        min-width: 0;
        width:100%;
        padding-left:$GUTTER;
        padding-right:$GUTTER;
      }
    }
  }
}

.loginForm {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 28px 0  rgba(0,0,0,.08);
  padding:0 0 ($GUTTER * 5);
  .formSection {
    flex:1 0 0%;
    padding:0 ($GUTTER * 5);
    &:first-of-type {
      border-right:1px solid $secondaryColor;
    }
    .registerLead {
      margin-top:$GUTTER * 2.5;
      text-align: center;
      min-height: 110px;
      @include mq($BP_TB) {
        min-height: auto;
      }
    }
    form {
      margin-top:$GUTTER * 2;
    }
    .buttonContainer {
      margin-top:$GUTTER * 2;
    }
    &:only-of-type {
      flex:1 0 0%;
      max-width: 560px;
      margin-left:auto;
      margin-right:auto;
      padding:0 $GUTTER;
      border:none;
    }
  }
  @include mq($contentWidth) {
    width:calc(100% - (#{$GUTTER} * 2));
    margin-left:auto;
    margin-right:auto;
  }
  @include mq($BP_TB) {
    display: block;
    box-shadow: none;
    width:100%;
    .formSection {
      padding:0 $GUTTER;
      &:first-of-type {
        padding-bottom:$GUTTER * 3;
        border-right:0;
        border-bottom:1px solid #ddd;
      }
      .registerLead {
        margin-top:$GUTTER * 2;
        text-align: left;
        @include fz(12);
      }
      form {
        margin-top:$GUTTER;
      }
      .buttonContainer {
        margin-top:$GUTTER * 1.5;
      }
    }
  }
  @include mq($BP_SP) {
    .formSection {
      .buttonContainer {
        .btLargeSize {
          min-width: 0;
          width:100%;
        }
      }
    }
  }
}

.mypageContent {
  margin-top:$GUTTER * 5;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  grid-gap: $GUTTER * 5;
  .main {
    grid-column: 2;
    grid-row: 1;
    .formSection {
      &:first-of-type {
        margin-top:0;
      }
    }
    .availablePointInfo {
      //text-align: center;
      font-weight: 700;
      .point {
        position: relative;
        display: inline-block;
        top:1px;
        margin-right:6px;
        color:$accentColor;
        @include fz(25);
      }
      .date {
        display: inline-block;
        margin-right: $GUTTER * 2;
        @include fz(11);
      }
      .note {
        display: inline-block;
        @include fz(11);
        font-weight: normal;
        color:rgba($baseStringColor, .85);
      }
    }
  }
  .aside {
    grid-column: 1;
    grid-row: 1;
    .mypageLinkSection {
      &:not(:first-of-type) {
        margin-top:$GUTTER * 5;
      }
      .title {
        font-weight: 700;
        @include fz(16);
      }
      ul {
        margin-top:$GUTTER;
        li {
          margin-top:$GUTTER;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  @include mq($BP_TB) {
    display: block;
    margin:0;
    .main {
      margin-top:$GUTTER * 3;
      .fieldsetTitle {
        .title {
          @include fz(13);
        }
      }
    }
    .aside {
      margin-top:$GUTTER * 3;
      .mypageLinkSection {
        &:not(:first-of-type) {
          margin-top:$GUTTER * 3;
        }
        .title {
          padding:$GUTTER / 2;
          text-align: center;
          @include fz(12);
        }
        ul {
          margin-top: $GUTTER;
          li {
            margin: 0;
            &:first-of-type {
              border-top:1px solid $linkColor;
            }
            border-bottom:1px solid $linkColor;
            a {
              position: relative;
              display: block;
              padding:($GUTTER * 1.5) 30px ($GUTTER * 1.5) $GUTTER;
              @include fz(14);
              &::after {
                position: absolute;
                display: block;
                content:"";
                width: 6px;
                height: 6px;
                top:50%;
                right:$GUTTER;
                border-top:1px solid $linkColor;
                border-right:1px solid $linkColor;
                transform: translateY(-50%) rotate(45deg)
              }
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.recipientList {
  &Item {
    margin-top:$GUTTER * 3;
    &:not(:first-of-type) {
      border-top:1px solid $secondaryColor;
      padding-top:$GUTTER * 3;
    }
    &.default {
      .title {
        &::after {
          position: relative;
          display:inline-block;
          content:"（既定の配送先）";
          top:-1px;
          margin:0 0 0 8px;
          @include fz(11);
          white-space:nowrap;
          vertical-align:middle;
          line-height:1;
          color:$accentColor;
        }
      }
    }
    .title {
      @include fz(15);
      font-weight: 700;
    }
    .info {
      margin-top:$GUTTER / 2;
    }
    .action {
      margin-top:$GUTTER / 2;
      @include fz(12);
      letter-spacing: -.4em;
      * {
        letter-spacing: normal;
      }
      form {
        display: inline-block;
      }
      a,
      button {
        background-color: transparent;
        border:0;
        padding:0;
        @include fz(12);
        color:$linkColor;
        line-height:1.6;
        cursor: pointer;
        text-decoration: underline;
        &:not(:first-child) {
          position: relative;
          margin-left:30px;
          &::before {
            position: absolute;
            display: block;
            content:"";
            width:1px;
            height:100%;
            top:0;
            left:-15px;
            background-color: $baseStringColor;
          }
        }
        &:hover {
          opacity: .5;
        }
      }
    }
  }
}