.freeEdit {
  h1 {
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }
  p {
  }
  ul {
  }
  table {
    table-layout: auto;
    th,
    td {
      padding:$GUTTER;
      border:1px solid #dedede;
    }
    th {
      background-color: #eee;
    }
  }
}

.textAlignLeft {
  text-align: left !important;
}
.textAlignCenter {
  text-align: center !important;
}
.textAlignRight {
  text-align: right !important;
}
