.gnav {
  // padding:($GUTTER * 3) $GUTTER;
  background-color: #212121;
  // background-color: $primaryColor;
  // @include mq($BP_TB) {
  //   padding:($GUTTER * 2);
  // }
  .tabNavigation {
    .tabList {
      padding:($GUTTER * 2) $GUTTER;
      &Item {
        border-bottom-color: transparent;
        & + .tabListItem {
          border-left: 1px solid $secondaryColor;
        }
        &>a {
          color: $baseColor;
          &:hover {
            color: $baseColor;
            opacity: 0.75;
          }
        }
        &.active {
          pointer-events: auto;
          &>a {
            color: $baseColor;
          }
        }
      }
    }
    .tabBody {
      margin-top: 0;
      padding:($GUTTER * 3) $GUTTER;
      background-color: $primaryColor;
    }
  }
  .gnavList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    &Item {
      padding:$GUTTER ($GUTTER * 3);
      @include fz(18);
      font-family: $fontFamilyEn;
      font-weight: 400;
      line-height: 18px;
      &>a {
        color: $baseColor;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
          color: $baseColor;
          opacity: 0.75;
        }
        &>i {
          margin-right: $GUTTER;
          font-weight: 400;
          @include fz(24);
        }
      }
    }
  }
  @include mq($BP_TB) {
    .gnavList {
      justify-content: flex-start;
    }
  }
}