@charset "utf-8";
/**************************************************
 *
 * ヘッダー
 *
 **************************************************/
header {
  position: relative;
  padding:$GUTTER;
  background-color:#fff;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
    .logo {
      width:140px;
      height:auto;
    }
    .headerLinkItem {
      display: block;
      height:100%;
      border-left:1px solid $secondaryColor;
      &:first-of-type {
        margin-left: auto;
      }
      &:last-of-type {
        border-right:1px solid $secondaryColor;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
        padding:0 ($GUTTER * 2);
        text-decoration: none;
        &:hover {
          opacity: .5;
        }
        i::before {
          color: #fff;
          text-stroke: 1px #000;
          -webkit-text-stroke: 1px #000;
        }
      }
    }
  }
}
