@charset "utf-8";
/**************************************************
 *
 * IE11対応
 *
 **************************************************/
@media all and (-ms-high-contrast: none) {
  .grid {
    display:flex !important;
    justify-content:flex-start;
    flex-wrap:wrap;
    $self:&;
    $colNumFrom:1;
    $colNumTo:10;
    @include createMultiColumn($self, $colNumFrom, $colNumTo, $GUTTER);
  }

  .heroImage {
   width:100%;
   height:auto;
  }

  .featuredTopicTitle {
    .imageBlock {
      img {
        width:100%;
        height:auto;
      }
    }
  }

}
