@charset "utf-8";
/**************************************************
 *
 * 購入履歴系
 *
 **************************************************/
.orderHistoryTable {
  width:100%;
  table-layout: auto;
  th,
  td {
    padding:($GUTTER / 2) $GUTTER;
    border:1px solid #ddd;
    @include fz(13);
  }
  th {
    background-color: $secondaryColor;
    white-space: nowrap;
    font-weight: 700;
    text-align: center;
  }
  td {
    height:100px;
    &.orderNumber {
      a {
        display: block;
        @include fz(12);
      }
    }
    &.date,
    &.orderNumber,
    &.slipNumber,
    &.status,
    &.payment {
      white-space: nowrap;
    }
    &.items {
      br {
        line-height: 2.5;
      }
    }
    &.sum {
      width:120px;
      white-space: nowrap;
      text-align: right;
    }
    &.point {
      text-align: right;
      color:$successColor;
      &.minus {
        color:$cautionColor;
      }
    }
  }
  @include mq($BP_TB) {
    thead {
      display: none;
    }
    tbody {
      tr {
        position: relative;
        display: block;
        padding-bottom:$GUTTER * 2;
        border-bottom:1px solid $secondaryColor;
        &:not(:first-of-type) {
          margin-top:$GUTTER * 2;
        }
      }
      td {
        display: block;
        height:auto;
        padding:0 0 0 8em;
        border:0;
        text-indent: -8em;
        &:not(:first-of-type) {
          margin-top:$GUTTER / 2;
        }
        &::before {
          display: inline-block;
          content:attr(data-title);
          width:8em;
          font-weight: 700;
          text-indent: 0;
        }
        &.orderNumber {
          a {
            position: absolute;
            display: inline-block;
            bottom:$GUTTER * 1.5;
            left:50%;
            padding:8px 30px 8px 20px;
            background-color: $linkColor;
            text-indent: 0;
            text-decoration: none;
            color:#fff;
            border-radius: 3px;
            transform: translateX(-50%);
            &::after {
              display: block;
              position: absolute;
              content:"";
              width:3px;
              height:3px;
              border-top:1px solid #fff;
              border-right:1px solid #fff;
              top:50%;
              right:15px;
              transform: translateY(-50%) rotate(45deg);
            }
          }
          & ~ .sum {
            padding-bottom:40px;
          }
        }
        &.sum {
          width:auto;
          text-align: left;
        }
        &.point {
          text-align: left;
          &::before {
            color:$baseStringColor;
          }
        }
      }
    }
  }
}

.orderHistory {
  .buttonContainer {
    margin-top:$GUTTER * 3;
  }
  .cartDetailBlock {
    &Title {
      position: relative;
      text-align: center;
      &Text {
        display: inline-block;
        padding:0 ($GUTTER * 2);
        background-color: #fff;
        @include fz(20);
        font-weight: bold;
      }
      &::before {
        position: absolute;
        display: block;
        content:"";
        width:100%;
        height:1px;
        top:50%;
        left:0;
        background-color: $baseStringColor;
        z-index: -1;
      }
    }
  }
  .cartDetailTable {
    margin-top:$GUTTER * 2;
    tr {
      &:last-of-type {
        .dataCell {
          border-bottom:0;
          padding-bottom:0;
        }
      }
    }
    .productImage {
      width:120px;
    }
    .productName {
      //font-weight: 400;
    }
    .qty {
      margin-top:$GUTTER / 2;
      @include fz(14);
    }
  }
  .cartOrderBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width:calc(45% - (#{$GUTTER} * 5));
    .orderSumTable {
      grid-column:1;
      grid-row:2;
      margin-top:$GUTTER;
    }
    .getPoint {
      grid-column:1;
      grid-row:3;
    }
  }
  @include mq($BP_TB) {
    .buttonContainer {
      margin-top:$GUTTER * 2;
    }
    .cartDetailBlock {
      &Title {
        &Text {
          padding:0 $GUTTER;
          @include fz(14);
        }
      }
    }
    .cartDetailTable {
      margin-top:$GUTTER;
      .productImage {
        width:80px;
      }
    }
    .cartOrderBlock {
      display: block;
      width:100%;
      .orderSumTable {
        margin-top:$GUTTER * 1.5;
      }
    }
  }
}

