@charset "utf-8";

/**************************************************
 *
 * サイズ表
 *
 **************************************************/
[data-role="scrollableTableWrapper"] {
  position: relative;
  overflow-x: hidden;
  &::after {
    position: absolute;
    display: block;
    content:"";
    width:100%;
    height:100%;
    top:0;
    right:0;
    background: none;
    box-shadow: inset -17px 0 19px -17px rgba(0,0,0,.25);
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
  }
  &[data-scrollable] {
    &::after {
      opacity: 1;
    }
  }
  @include mq($contentWidth) {
    border-left: 1px solid #e5e5e5;
  }
}

[data-role="scrollableTable"] {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  @include mq($contentWidth) {
    th,
    td {
      &[data-role="stickyCell"] {
        position: -webkit-sticky;
        position: sticky;
        left:-1px;
        box-sizing: content-box;
        z-index:2;
      }
    }
  }
}

.sizeGuide {
  &Wrapper {
    max-height:calc(100vh - (#{$GUTTER} * 16));
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
    }
  }
  & + & {
    margin-top: $GUTTER * 3;
  }
  &Title {
    padding-bottom:$GUTTER / 2;
    @include fz(16);
    font-weight: 700;
  }
  table {
    table-layout: auto;
    width:100%;
    margin:0 auto;
  }
  thead {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    tr {
      border-bottom: 1px solid #e5e5e5;
    }
    th {
      background-color: #e5e5e5;
      padding:$GUTTER 0;
      text-align: center;
      color:#333;
      transition: all .3s;
      &[data-role="stickyCell"] {
        background-color: #e5e5e5;
      }      
      &.highlight {
        background-color: #666;
        color:#fff;
      }
    }
  }
  tbody {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    tr {
      border-bottom: 1px solid #e5e5e5;
    }
    td {
      background-color: #fff;
      border-right: 1px solid #e5e5e5;
      text-align: center;
      &.highlight {
        background-color: #f5f5f5;
      }
      &.focus {
        background-color: $accentColor;
        color:#fff;
      }
    }
  }
  th,
  td {
    padding-left:$GUTTER;
    padding-right:$GUTTER;
    height:50px;
    vertical-align: middle;
    @include fz(13);
    white-space: nowrap;
    transition: all .3s;
  }
  [data-role="stickyCell"] {
    position: relative;
    left:0;
    top:auto;
    width:130px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    &.highlight {
      background-color: #666;
      color:#fff;
    }
  }
  @include mq($contentWidth) {
    thead {
      th {
        padding:0;
        &:first-child {
          border-right: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
        }
      }
    }
    th,
    td {
      height:40px;
      min-width: 80px;
      line-height: 40px;
      @include fz(11);
    }
    [data-role="stickyCell"] {
      width:100px;
      padding:0;
    }
  }
  @include mq($BP_TB) {
    &Wrapper {
      max-height:calc(100vh - (#{$GUTTER} * 12));
      &::-webkit-scrollbar {
        width: 2px;
      }
    }
    &Title {
      @include fz(13);
    }
  }
}

.sizeGuideSupplement {
  &Title {
    text-align: center;
    color:$accentColor;
    @include fz(20);
    font-weight: 700;
  }
  margin-top:$GUTTER * 2;
  gap:0 ($GUTTER * 5) !important;
  &Item {
    &Title {
      @include fz(16);
      font-weight: 700;
    }
    &Body {
      .text {
        min-height: 120px;
        margin-top:$GUTTER;
        @include fz(14);
      }
      .image {
        margin-top:$GUTTER;
        text-align: center;
        img {
          width:100%;
          height:auto;
        }
      }
    }
  }
  @include mq($BP_TB) {
    &Title {
      @include fz(17);
    }
    margin-top:$GUTTER;
    gap:0 0 !important;
    &Item {
      &Title {
        @include fz(15);
      }
      &Body {
        .text {
          min-height:0;
          @include fz(13);
        }
      }
    }
  }
}

