@charset "utf-8";
/**************************************************
 *
 * ストアロケーター
 *
 **************************************************/
.storeSearch {
  width:1170px;
  margin:$GUTTER auto 0;
  padding:0 $GUTTER;
  & + {
    .section {
      margin-top:$GUTTER * 5;
    }
  }
  &Condition {
    display: flex;
    .formBlock {
      flex:1 0 0%;
      display: block;
      & + .formBlock {
        margin-left:$GUTTER * 10;
      }
      &.grow {
        flex:2 0 0%;
      }
      &Title {
        @include fz(13);
        font-weight: 700;
      }
      &Body {
        margin-top:$GUTTER;
        .selectWrapper {
          width:100%;
        }
        label {
          margin-bottom:$GUTTER * 1.5;
        }
      }
    }
  }
  @include mq(1170) {
    width:100%;
  }
  @include mq($BP_TB) {
    margin:($GUTTER * 2) auto 0;
    & + {
      .section {
        margin-top:$GUTTER * 2;
      }
    }
    &Condition {
      display: block;
      .formBlock {
        & + .formBlock {
          margin-left:0;
          margin-top:$GUTTER * 3;
        }
      }
    }
    .buttonContainer {
      margin-top:$GUTTER;
      [class^=bt] {
        min-width: 260px;
      }
    }
  }
}

.storeList {
  &Item {
    padding:($GUTTER * 3) 0;
    &:nth-child(odd) {
      background-color: #f8f8f8;
    }
    .storeContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width:1170px;
      margin:0 auto;
      padding: $GUTTER;
      .storeDetail {
        flex:1.5 0 0%;
        .storeListItemTitle {
          @include fz(18);
        }
      }
      .storeHours {
        flex:1 0 0%;
        margin-left:$GUTTER * 5;
        .storeListItemTitle {
          font-family:$fontFamilyEn;
          @include fz(16);
        }
      }
      .storeFeatures {
        flex:1.5 0 0%;
        margin-left:$GUTTER * 5;
        .storeListItemTitle {
          font-family:$fontFamilyEn;
          @include fz(16);
        }
      }
    }
    &Title {
      height:30px;
      color:#333;
    }
    &Body {
      margin-top:$GUTTER;
      @include fz(14);
      line-height: 1.8;
      color:#333;
      a[href^=tel] {
        pointer-events: none;
        text-decoration: none;
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top:$GUTTER / 2;
    }
    .contact {
      .map,
      .email {
        display: inline-block;
        margin-right: $GUTTER * 1.5;
        padding:($GUTTER / 2) $GUTTER;
        background-color: $primaryColor;
        color:#fff;
        @include fz(12);
        font-family: $fontFamilyEn;
        line-height: 1;
        text-decoration: none;
      }
    }
    .snsLink {
      &List {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      margin-top: 2px;
      margin-left: $GUTTER * 1.5;
      @include fz(24);
      line-height: 1;
      &.inactive {
        opacity: .2;
        a {
          pointer-events: none;
        }
      }
    }
    .note {
      margin-top:$GUTTER;
      padding:$GUTTER;
      background-color: #eee;
      @include fz(12);
    }
    .storeFeature {
      &List {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      width:25%;
      border-right: 1px solid rgba(74,74,74,.2);
      height: 60px;
      padding:0 22px;
      text-align: center;
      &:nth-of-type(4) {
        border:0;
      }
      &:last-of-type {
        border:0;
      }
      img {
        width:100%;
        height:100%;
        object-fit: contain;
      }
      &.inactive {
        img {
          opacity: .2;
        }
      }
    }
  }
  @include mq(1170) {
    &Item {
      .storeContainer {
        width:100%;
      }
    }
  }
  @include mq($BP_TB) {
    &Item {
      padding:$GUTTER 0;
      .storeContainer {
        display: block;
        .storeDetail {
          .storeListItemTitle {
            @include fz(16);
          }
        }
        .storeHours {
          margin-left:0;
          margin-top:$GUTTER * 2;
          .storeListItemTitle {
            @include fz(13);
          }
        }
        .storeFeatures {
          margin-left:0;
          margin-top:$GUTTER * 2;
          .storeListItemTitle {
            @include fz(13);
          }
        }
      }
      &Title {
        height:auto;
        font-weight: 700;
      }
      &Body {
        margin-top:$GUTTER;
        @include fz(13);
        a[href^=tel] {
          pointer-events: auto;
          text-decoration: underline;
        }
      }
      .contact {
        .map,
        .email {
          margin-right:$GUTTER;
        }
      }
      .snsLink {
        margin-left:$GUTTER * 2;
      }
      .storeFeature {
        width:(100% / 7);
        max-width:50px;
        height: 50px;
        padding:5px 8px;
        border:0;
      }
    }
  }
}
