@charset "utf-8";

/**************************************************
 *
 * タブナビゲーション
 *
 **************************************************/
.tabNavigation {
  $self:&;
  .tabList {
    display: flex;
    justify-content: center;
    text-align:center;
    &Item {
      flex:0 0 auto;
      padding:0 ($GUTTER * 3);
      @include fz(18);
      font-family: $fontFamilyEn;
      font-weight: 400;
      line-height: 18px;
      & + .tabListItem {
        border-left: 1px solid $primaryColor;
      }
      &.jp {
        @include fz(15);
      }
      &>a {
        position: relative;
        display: block;
        padding:($GUTTER / 2) 0;
        border-bottom:3px solid transparent;
        color: #999;
        text-decoration:none;
        transition: none;
        &:hover {
          color: $primaryColor;
        }
      }
      &.active {
        pointer-events: none;
        &>a {
          color: $primaryColor;
          &::after {
            position: absolute;
            display: block;
            content:"";
            width:100%;
            height:4px;
            bottom:-5px;
            left:0;
            background-color: $accentColor;
            z-index:2;
          }
        }
      }
    }
  }
  .tabBody {
    display:none;
    margin-top:$GUTTER * 3.5;
    &.active {
      display:block;
    }
    &.bgGray {
      padding:($GUTTER * 3) $GUTTER;
      background-color: #f6f6f6;
    }
    .sectionTitle {
      line-height: 1;
      &Lead {
        margin-top:$GUTTER;
      }
    }
  }
  @include mq($BP_TB) {
    .tabList {
      position: relative;
      display: block;
      width:100vw;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      letter-spacing: -.4em;
      padding-bottom:3px;
      &::-webkit-scrollbar {
          display: none;
      }
      &Item {
        display: inline-block;
        padding:0 ($GUTTER * 1.5);
        border-bottom:1px solid $primaryColor;
        @include fz(15);
        font-weight: 500;
        letter-spacing: normal;
        line-height: 26px;
        height:26px;
        vertical-align: bottom;
        &.jp {
          @include fz(13);
        }
        &>a {
          padding:0;
          &:hover {
            color:#999;
          }
        }
        &.active {
          &>a {
            color: $primaryColor;
            &::after {
              bottom:-1px;
            }
          }
        }
      }
    }
    .tabBody {
      margin-top:$GUTTER;
      &.bgGray {
        padding:($GUTTER * 1.5) $GUTTER;
        .productTileList {
          padding:0;
        }
      }
      .sectionTitle {
        width:100%;
        &Lead {
          margin-top:$GUTTER / 2;
        }
      }
    }
  }
}
