.tagList {
  display: flex;
  flex-wrap: wrap;
  .tag {
    margin: 4px;
  }
}
.tag {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid $secondaryColor;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 $GUTTER;
  box-sizing: border-box;
  overflow: hidden;
  i {
    font-weight: 700;
    padding: $GUTTER / 1.5;
    background-color: $secondaryColor;
    border-radius: 50%;
    @include fz(14);
    margin-left: $GUTTER * -1;
    margin-right: $GUTTER / 2;
  }
  &:hover {
    border-color: $primaryColor;
  }
  &Removal::after {
    content: '\d7';
    @include fz(18);
    margin-left: $GUTTER/2;
  }
}