@charset "utf-8";

/**************************************************
 *
 * 汎用見出し
 *
 **************************************************/
.hero {
  $self:&;
  position: relative;
  &.image {
    width:100%;
    max-height: 548px;
    overflow: hidden;
    &.athlete {
      height:511px;
      #{$self}Image {
        object-position: center center;
      }
    }
  }
  &.video {
    height:500px;
    overflow: hidden;
  }
  &Image {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top center;
    &.center {
      object-position: center center;
    }
  }
  &Video {
    position: absolute;
    top:50%;
    width:100%;
    transform: translateY(-50%);
  }
  .pageTitle {
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
    margin:0;
    background-color: rgba(255,255,255,.5);
    color:$baseStringColor;
    .lead {
      font-weight: 400;
    }
  }
  .athleteTitle {
    position: absolute;
    width:330px;
    left:$GUTTER * 2.5;
    top:50%;
    padding:0;
    @include fz(42);
    font-weight: 300;
    word-break: normal;
    line-height: 1;
    transform: translateY(-50%);
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.8);
    &::after {
      position: absolute;
      display: block;
      content:"";
      width:100px;
      height:1px;
      left:0;
      bottom:-2px;
      background-color: $accentColor;
    }
  }
  .inTitleLink {
    &>a {
      color:$baseStringColor;
    }
    & + .inTitleLink {
      border-left-color:$baseStringColor;
    }
  }
  & + .pageTitle {
    margin-top:$GUTTER * 2;
  }
  @include mq($BP_TB) {
    &.image {
      max-height: none;
      height:200px;
      &.spLarge,
      &.athlete {
        height:400px;
      }
    }
    &.video {
      height:auto;
    }
    &Video {
      position: relative;
      top:0;
      left:0;
      width:100%;
      height:auto;
      transform: none;
    }
    .pageTitle {
      /*
      position: relative;
      width:calc(100% - (#{$GUTTER} * 2));
      margin:0 auto;
      padding:$GUTTER $GUTTER ($GUTTER / 2);
      background-color: rgba(0,0,0,.9);
      */
      padding:$GUTTER $GUTTER ($GUTTER / 2);
    }
    .athleteTitle {
      width:320px;
      left:0;
      padding:0 ($GUTTER * 2);
      @include fz(36);
      &::after {
        width:80px;
        left:$GUTTER * 2;
      }
    }
  }
  @include mq($BP_SP) {
    &.video {
      height:400px;
    }
    &Video {
      width:100%;
      height:100%;
      object-fit: cover;
    }
  }
}

.pageTitle {
  padding:($GUTTER * 2) 200px ($GUTTER * 1.5);
  text-align: center;
  &.bgGray {
    background-color: #f6f6f6;
  }
  .titleText {
    @include fz(24);
    font-weight: 700;
    &.large {
      @include fz(44);
    }
  }
  .lead {
    display: inline-block;
    margin-top:$GUTTER;
    text-align: left;
    font-weight: 500;
  }
  .breadcrumbs + & {
    margin-top:$GUTTER * 2;
  }
  @include mq($BP_TB) {
    padding:0 $GUTTER;
    &.bgGray {
      padding:($GUTTER * 2) $GUTTER ($GUTTER * 1.5);
    }
    .titleText {
      &.large {
        @include fz(30);
      }
    }
  }
  @include mq($BP_SP) {
    .titleText {
      @include fz(18);
    }
    .lead {
      @include fz(12);
    }
  }
}

.inTitleLink {
  &List {
    margin-top:$GUTTER;
  }
  display: inline-block;
  padding:0 $GUTTER;
  line-height: 1;
  font-weight: 400;
  @include fz(14);
  &>a {
    display: block;
    text-decoration: none;
    font-family: $fontFamilyEn;
    &:hover {
      text-decoration: underline;
    }
  }
  &.active {
    &>a {
      pointer-events: none;
      color:$accentColor;
    }
  }
  & + & {
    border-left:1px solid $baseStringColor;
  }
  @include mq($BP_SP) {
    @include fz(12);
  }
}

.sectionTitle {
  padding:0 $GUTTER;
  @include fz(40);
  font-family: $fontFamilyEn;
  font-weight: 300;
  text-align: center;
  word-break: normal;
  &.bordered {
    max-width:900px;
    margin:0 auto;
    border-bottom:1px solid #eee;
  }
  &Lead {
    margin-top:$GUTTER / 2;
    text-align: center;
  }
  @include mq($BP_TB) {
    width:calc(100% - (#{$GUTTER} * 2));
    @include fz(24);
    font-weight: 500;
    &.bordered {
      max-width: none;
    }
    &Lead {
      @include fz(12);
    }
  }
}

.descriptiveTitle {
  position: absolute;
  width:380px;
  top:50%;
  left:0;
  padding-left:$GUTTER * 2.5;
  transform: translateY(-50%);
  color:#fff;
  .titleText {
    text-shadow: 2px 2px 4px rgba(0,0,0,.8);
    .text {
      position: relative;
      display: block;
      line-height: 1;
      @include fz(45);
      font-weight: 300;
      font-family: $fontFamilyEn;
      &:first-of-type {
        &::after {
          position: absolute;
          display: block;
          content:"";
          width:100px;
          height:1px;
          left:0;
          bottom:0;
          background-color: $accentColor;
        }
      }
      & + .text {
        margin-top:$GUTTER * 1.5;
        margin-right:-10px;
        text-align: right;
      }
      &.bold {
        font-weight: 700;
      }
    }
  }
  .lead {
    margin-top:$GUTTER * 2;
    @include fz(13);
    line-height: 1.6;
  }
  @include mq($BP_SP) {
    width: 100%;
    padding:0 $GUTTER;
    .titleText {
      .text {
        @include fz(36);
        &:first-of-type {
          &::after {
            width:80px;
          }
        }
        & + .text {
          margin-right:0;
        }
      }
    }
    &Lead {
      @include fz(12);
    }
  }
}

.blogTopTitle {
  position: relative;
  margin-top:$GUTTER * 3;
  text-align: center;
  font-weight: 700;
  @include fz(20);
  &::after {
    position: absolute;
    display: block;
    content:"";
    width:60px;
    height:2px;
    background-color: $accentColor;
    bottom:-7px;
    left:50%;
    transform: translateX(-50%);
  }
}

.blogSearchTitle {
  margin-top:$GUTTER * 3;
  text-align: center;
  font-weight: 700;
  @include fz(20);
  &::before {
    content:"#";
  }
}

[data-role="slideInTitle"] {
  .titleText>.text,
  .title,
  .lead {
    opacity: 0;
    transform: translateY(30px);
    transition: all .5s;
  }
  .titleText>.text,
  .title {
    transition-delay: 0s;
    & + .text {
      transition-delay: .2s;
    }
  }
  .lead {
    transition-delay: .4s;
  }
  &.active {
    .titleText>.text,
    .title,
    .lead {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
