@charset "utf-8";
/**************************************************
 *
 * 記事タイル
 *
 **************************************************/
.topicTile {
  &List {
    margin-top:$GUTTER * 3;
    padding:0 ($GUTTER * 2);
    &.grid {
      grid-gap: ($GUTTER * 3) ($GUTTER * 2.5);
    }
    .sectionTitle + & {
      margin-top:$GUTTER;
    }
  }
  $self:&;
  position: relative;
  &>a {
    position: relative;
    display: block;
    height:100%;
    // padding-bottom:30px;
    background-color: #fff;
    text-decoration: none;
    color:$baseStringColor;
    // box-shadow: 1px 1px 15px 0 #aaa;
    &:hover {
      opacity: 1;
      #{$self}Image {
        img {
          // transform: translateX(-50%) scale(1.2);
        }
      }
    }
  }
  &Image {
    position: relative;
    width:100%;
    height:0;
    padding-top:50%;
    background-color: #eee;
    overflow: hidden;
    img {
      position:absolute;
      max-width: none;
      max-height: none;
      width:100%;
      height:auto;
      top:0;
      left:50%;
      transform-origin: center top;
      transform: translateX(-50%);
      transition: transform .5s;
    }
  }
  &Text {
    padding:$GUTTER;
    // min-height: 40px;
  }
  .title {
    color:$baseStringColor;
    @include fz(18);
    // font-weight: 700;
    line-height:1.6;
  }
  .summary {
    margin-top:$GUTTER / 2;
    color:#4a4a4a;
    @include fz(13);
    font-weight: 500;
    line-height:1.6;
    text-align: justify;
    word-break: break-all;
  }
  .categoryList {
    position: absolute;
    right:$GUTTER;
    bottom:$GUTTER;
    text-align: right;
    .category {
      display: inline-block;
      @include fz(12);
      font-weight: 400;
      & + .category {
        &::before {
          display: inline-block;
          content:"/";
          margin:0 ($GUTTER / 2);
        }
      }
    }
  }
  &.athlete {
    a {
      padding-bottom:0;
      box-shadow: none;
    }
    #{$self}Image {
      padding-top:100%;
      img {
        width:150%;
        transform-origin: center center;
      }
    }
    #{$self}Text {
      position: relative;
      padding:($GUTTER * 2.5) $GUTTER 0;
      min-height: 86px;
      text-align: center;
      &::before {
        position: absolute;
        display: block;
        content:"";
        width:2px;
        height:40px;
        top:-20px;
        left:50%;
        background-color: $accentColor;
        transform: translateX(-50%);
      }
    }
    .title {
      @include fz(20);
      font-weight: 600;
      font-family: $fontFamilyEn;
      line-height: 1.2;
      text-transform: uppercase;
    }
    .lead {
      margin-top:$GUTTER / 2;
      @include fz(20);
      font-weight: 300;
      font-family: $fontFamilyEn;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }
  @include mq($BP_SP) {
    &List {
      margin-top:$GUTTER * 2;
      padding:0 ($GUTTER * 2);
      &.grid {
        grid-gap: ($GUTTER * 2) ($GUTTER * 2);
      }
    }
    &>a {
      &:hover {
        opacity: 1;
      }
    }
    &Text {
      min-height: 0;
    }
    .title {
      @include fz(15);
    }
    .summary {
      @include fz(12);
    }
  }
}

.featuredTopicTitle {
  display: flex;
  //border-top:1px solid #f5f5f5;
  .imageBlock {
    overflow: hidden;
    flex:1 0 58.33333%;
    height:460px;
    img {
      width:100%;
      height:100%;
      object-position: top center;
      object-fit: cover;
    }
  }
  .textBlock {
    position: relative;
    flex:1 1 41.66667%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px 80px;
    background-color: $primaryColor;
    color:#fff;
    &::before {
      position: absolute;
      display: block;
      content:"";
      width:0;
      height:0;
      top:15px;
      left:-20px;
      border:10px solid transparent;
      border-right:10px solid $primaryColor;
    }
    .title {
      @include fz(30);
      line-height:1.4;
      font-weight: 700;
    }
    .summary {
      margin-top:$GUTTER * 1.5;
      @include fz(14);
      word-break: break-all;
    }
    .categoryList {
      margin-top:$GUTTER * 2;
      .category {
        display: inline-block;
        @include fz(14);
        & + .category {
          &::before {
            display: inline-block;
            content:"/";
            margin:0 $GUTTER;
          }
        }
      }
    }
    .buttonContainer {
      margin-top:$GUTTER * 2;
      padding:0;
      text-align: left;
      [class^=bt] {
        margin:0;
        padding:($GUTTER / 2) ($GUTTER * 2);
      }
    }
  }
  &.athlete {
    .textBlock {
      .title {
        @include fz(40);
        line-height:1.2;
        font-weight: 300;
        font-family: $fontFamilyEn;
      }
    }
  }
  @include mq($BP_TB) {
    display: block;
    .imageBlock {
      height:300px;
    }
    .textBlock {
      position: relative;
      padding:($GUTTER * 2) ($GUTTER * 2);
      &::before {
        display: none;
      }
      .title {
        @include fz(20);
      }
      .summary {
        @include fz(12);
      }
      .categoryList {
        margin-top:$GUTTER;
        .category {
          @include fz(12);
        }
      }
      .buttonContainer {
        margin-top:$GUTTER * 2;
        padding:0;
        text-align: left;
      }
    }
    &.athlete {
      .textBlock {
        .title {
          @include fz(28);
        }
      }
    }
  }
}

