<%
    const {
        serverError,
        canSpecifyDeliveryDate,
        canSpecifyDeliveryTime,
        reserve
    } = locals;
    const when = (condition, text) => condition ? text : '';
%>
<main class="section content">
    <h1 class="h-underline">注文編集 - お届け日時</h1>
    <form action="@HistoryUrl(delivery.Cart.OrderId)" method="post">
        <!-- @Page.Html.HttpMethodOverride("put") -->
        <dl class="field optional">
            <dt class="field-title">お届け日</dt>
            <dd class="field-body">
                <% if (canSpecifyDeliveryDate) { %>
                    <select name="DeliveryOrder.DeliveryDate">
                        <option value="">最短でお届け</option>
                        <option value="2023-08-01">2023年8月1日(火)</option>
                        <option value="2023-08-02">2023年8月2日(水)</option>
                        <option value="2023-08-03">2023年8月3日(木)</option>
                    </select>
                <% } else { %>
                    <p class="field-text">お届け日を指定できません。</p>
                    <% if (reserve) { %>
                        <p class="field-note">
                            ※発売日が異なる商品を同時（同一ご注文番号の場合）にご予約いただいた場合、<br />
                        &nbsp;発売日が最も遅い商品に合わせて全ての商品をお届けいたします。
                        </p>
                    <% } %>
                <% } %>
                <p class="field-error" data-valmsg-for="DeliveryOrder.DeliveryDate" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <dl class="field optional">
            <dt class="field-title">お届け時間</dt>
            <dd class="field-body">
                <% if (canSpecifyDeliveryTime) { %>
                    <select name="DeliveryOrder.HourRange">
                        <option value="0000">指定なし</option>
                        <option value="0812">午前中</option>
                        <option value="1214">12:00~14:00</option>
                        <option value="1416">14:00~16:00</option>
                        <option value="1618">16:00~18:00</option>
                        <option value="1820">18:00~20:00</option>
                    </select>
                <% } else { %>
                    <p class="field-text">お届け時間を指定できません。</p>
                <% } %>
                <p class="field-error" data-valmsg-for="DeliveryOrder.HourRange" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <!-- <button type="submit" class="btn btn-action btn-large btn-next" name="delivery" value="put">お届け日時を変更</button> -->
            <a href="./?path=/story/pages-order-history--changed" class="btn btn-action btn-large btn-next">お届け日時を変更</a>
            <a href="./?path=/story/pages-order-history--item" class="btn btn-primary btn-text btn-prev">注文詳細へもどる</a>
        </div>
    </form>
</main>
