<%
    const {
        serverError,
        campaign,
        canCancel,
        isGuest,
    } = locals;
    const when = (condition, text) => condition ? text : '';    
%>
<main class="section content">
    <h1 class="h-underline">注文キャンセル</h1>
    <% if (serverError) { %>
        <%- include('alert', { color: 'error' }) %>
    <% } %>
    <form action="@HistoryUrl(cart.OrderId)" method="post">
        <!-- @Page.Html.HttpMethodOverride("delete") -->
        <!-- @Page.Html.SessionAntiForgeryToken() -->
        <%- include('cartLines', { items: 3, campaign, action: false }) %>
        <% if(canCancel) { %>
            <div class="message-box text-center">
                <% if(!isGuest) { %>
                    <p class="message">還元ポイントの 10 ポイントを無効にします。</p>
                <% } %>
                <p class="message">よろしければ「キャンセルする」ボタンを押してください。注文のキャンセルが完了します。</p>
            </div>
        <% } %>
        <div class="block block-vertical">
            <% if(canCancel) { %>
                <!-- <button type="submit" name="commit" value="commit" class="btn btn-danger btn-text">キャンセルする</button> -->
                <a href="./?path=/story/pages-order-history--complete" class="btn btn-danger btn-text">キャンセルする</a>
            <% } else { %>
                <button type="button" class="btn btn-danger btn-text" disabled>この注文はキャンセル出来ません</button>
            <% } %>
            <a href="./?path=/story/pages-order-history--item" class="btn btn-default btn-prev">注文詳細へもどる</a>
        </div>
    </form>
</main>
