<%
    const {
        empty,
        message,
        lastPage
    } = locals;
    const when = (condition, text) => condition ? text : '';
%>
<%- include('gnav') %>
<main class="content-wide columns">
    <div class="col-3 col-order-2 col-order-1-sp">
        <h1 class="h-underline">購入履歴</h1>
        <% if (message) { %> 
            <div class="alert alert-success">
                <p>注文内容を変更しました。</p>
            </div>
        <% } %>
        <% if (empty) { %> 
            <div class="message-box">
                <p class="message text-center lead">アーカイブされたご注文はまだありません。</p>
            </div>
        <% } else { %>
            <table class="table">
                <caption>これまでにお客様がオンラインストアで購入された履歴の一覧です。</caption>
                <thead>
                    <tr>
                        <th>ご注文日時</th>
                        <th>ご注文番号</th>
                        <th>ご注文状況</th>
                        <th>お支払方法</th>
                        <th>合計金額</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td data-title="ご注文日時">2021/03/05 18:03</td>
                        <td data-title="ご注文番号">55</td>
                        <td data-title="ご注文状況">注文完了</td>
                        <td data-title="お支払方法">外部決済（カード・コンビニ・キャリア）</td>
                        <td data-title="合計金額"><span class="price"><span class="price-value">¥1,000</span> </span></td>
                        <td align="center"><a href="./?path=/story/pages-order-history--item" class="btn btn-primary btn-text">詳細を見る</a></td>
                    </tr>

                    <tr>
                        <td data-title="ご注文日時">2021/03/05 18:03</td>
                        <td data-title="ご注文番号">55</td>
                        <td data-title="ご注文状況">注文完了</td>
                        <td data-title="お支払方法">外部決済（カード・コンビニ・キャリア）</td>
                        <td data-title="合計金額"><span class="price"><span class="price-value">¥1,000</span> </span></td>
                        <td align="center"><a href="./?path=/story/pages-order-history--item" class="btn btn-primary btn-text">詳細を見る</a></td>
                    </tr>

                    <tr>
                        <td data-title="ご注文日時">2021/03/05 18:03</td>
                        <td data-title="ご注文番号">55</td>
                        <td data-title="ご注文状況">注文完了</td>
                        <td data-title="お支払方法">外部決済（カード・コンビニ・キャリア）</td>
                        <td data-title="合計金額"><span class="price"><span class="price-value">¥1,000</span> </span></td>
                        <td align="center"><a href="./?path=/story/pages-order-history--item" class="btn btn-primary btn-text">詳細を見る</a></td>
                    </tr>

                    <tr>
                        <td data-title="ご注文日時">2021/03/05 18:03</td>
                        <td data-title="ご注文番号">55</td>
                        <td data-title="ご注文状況">注文完了</td>
                        <td data-title="お支払方法">外部決済（カード・コンビニ・キャリア）</td>
                        <td data-title="合計金額"><span class="price"><span class="price-value">¥1,000</span> </span></td>
                        <td align="center"><a href="./?path=/story/pages-order-history--item" class="btn btn-primary btn-text">詳細を見る</a></td>
                    </tr>
                    
                </tbody>
            </table>
            <% if (!lastPage) { %>
                <dvi class="block block-vertical">
                    <a href="./?path=/story/pages-order-history--last-page" class="btn btn-primary btn-text btn-next">次のページ</a>
                </dvi>
            <% } %>
            <hr>
            <div class="block block-horizontal block-wrap">
                <a href="#2021" class="btn btn-primary btn-text">2021年</a>
                <a href="#2020" class="btn btn-primary btn-text">2020年</a>
                <a href="#2019" class="btn btn-primary btn-text">2019年</a>
                <a href="./?path=/story/pages-order-archives--default" class="btn btn-primary btn-text">さらに前のご注文</a>
            </div>
        <% } %>
    </div>    
    <div class="col-1 col-order-1 col-order-2-sp">
        <%- include('memberMenu', { active: 'history' }) %>
    </div>
</main>