<footer class="gfooter">
    <ul>
        <li>
            SERVICE
            <ul>
                <li><a href="javascript:void(0)">商品検索</a></li>
                <li><a href="javascript:void(0)">ニュース</a></li>
                <li><a href="javascript:void(0)">マイページ</a></li>
            </ul>
        </li>
        <li>
            INFO
            <ul>
                <li><a href="javascript:void(0)">ご利用規約</a></li>
                <li><a href="javascript:void(0)">プライバシーポリシー</a></li>
                <li><a href="javascript:void(0)">特定商取引に関する表記</a></li>
            </ul>
        </li>
        <li>
            SHOP
            <ul>
                <li><a href="javascript:void(0)">会社情報</a></li>
                <li><a href="javascript:void(0)">採用情報</a></li>
                <li><a href="javascript:void(0)">お問い合わせ</a></li>
            </ul>
        </li>
    </ul>
    <hr>
    <p class="text-center text-small">&copy; Commerble Inc. 2021</p>
</footer>