<%
    const {
        empty,
        last
    } = locals;
%>
<main class="section content">
    <h1 class="h-border">NEWS</h1>
    <%- include('tile.article', {columns: 3, items: 12 }) %>
    <% if (!last) { %>
        <div class="block block-vertical">
            <a class="btn btn-default btn-next">次のページ</a>
        </div>
    <% } %>
</main>