@charset "utf-8";

/**************************************************
 *
 * 共通
 *
 **************************************************/
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  overflow:hidden;
  min-height:100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.inner {
  width:$contentWidthPx;
  margin: 0 auto;
  &.padded {
    padding:0 $GUTTER;
  }
  @include mq($contentWidth) {
    width:100%;
  }
}

/**************************************************
 *
 * ヘッダ
 *
 **************************************************/
header {
  grid-row: 1;
}

/**************************************************
 *
 * main
 *
 **************************************************/
main {
  grid-row: 2;
}

/**************************************************
 *
 * フッタ
 *
 **************************************************/
footer {
  grid-row: 3;  
}
