<main class="section content">
    <h1 class="h-underline">お支払いが完了されませんでした</h1>
    <div class="message-box">
        <p class="message lead">
            決済代行サービスにてお支払が完了されませんでしたので、この注文は自動的にキャンセルされます。<br>
            仮押さえしました在庫は、yyyy/MM/dd HH:mm:ss以降に戻されます。<br>
            またのご利用お待ちしております。
        </p>
        <div class="message block">
            <ul class="text-list-dot">
                <li>エラーコード：E001</li>
                <li>エラー情報：XXXXXXXXXXXX</li>
            </ul>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">商品</th>
                <th>個数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">
                    <div class="product-icon">
                        <div class="image image-square">
                            <img src="https://httpstat.us/404" alt="SKU名">
                        </div>
                    </div>
                </td>
                <td align="center">
                    商品SKU名
                </td>
                <td data-title="個数">
                    2
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div class="product-icon">
                        <div class="image image-square">
                            <img src="https://httpstat.us/404" alt="SKU名">
                        </div>
                    </div>
                </td>
                <td align="center">
                    商品SKU名
                </td>
                <td data-title="個数">
                    2
                </td>
            </tr>
        </tbody>
    </table>
    <div class="block block-vertical">
        <a href="/?path=/story/pages-order-cart--default" class="btn btn-action btn-large">もう一度カートにいれる</a>
        <a href="/?path=/story/pages-top--default" class="btn btn-primary btn-text btn-prev">トップページへ戻る</a>
    </div>
</main>