.carousel {
    width: 600px;
    @include mq($bp-sp) {
        width: 100%;
    }
}
.carousel-images {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    font-size: 0;
    line-height: 0;
    img {
        max-width: 100vw;
    }
    .carousel-frame {
        display: inline-block;
        scroll-snap-align: start;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
.carousel-thumbnails {
    font-size: 0;
    line-height: 0;
    margin: $unit * .5;
    @include mq($bp-sp) {
        white-space: nowrap;
        overflow-x: auto;
    }

    &>a {
        display: inline-block;
        margin: $unit * .5;
        width: 64px;
    }
}