.carousel {
    width: min($carousel-size, 100svw);
    margin: 0 auto;
}
.carousel-images {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    scroll-marker-group: after;
    scrollbar-width: none;
    scroll-snap-align: center;
    height: min($carousel-size, 100svw);
    img {
        width: min($carousel-size, 100svw);
    }
    .carousel-frame {
        width: min($carousel-size, 100svw);
        aspect-ratio: 1;
        scroll-snap-align: center;
        overflow: hidden;
        --marker: "";

        &::scroll-marker {
            content: "";
            display: block;
            width: $carousel-marker-size;
            height: $carousel-marker-size;
            background-color: $color-secondary;
            transition: background-color 0.2s;
            overflow: hidden;
            background-image: var(--marker);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 2px solid transparent;
            background-clip: padding-box;
        }

        &::scroll-marker:target-current {
            border: 2px solid $color-primary
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &::scroll-marker-group {
        margin-top: $unit * 2;
        width: min($carousel-size, 100svw);
        height: $carousel-marker-size;
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}