.carousel {
    width: min($carousel-size, 100svw);
    margin: 0 auto;
}
.carousel-images {
    display: grid;
    /* アイテムを横並びにする */
    grid-auto-flow: column;
    /* 次のスライドとの間隔 */
    gap: 20px;
    overflow-x: auto;
    /* X方向にスナップ */
    scroll-snap-type: x mandatory;
    /* 1度に1枚ずつ移動 */
    scroll-snap-stop: always;
    /* スムーズにスクロールさせる */
    scroll-behavior: smooth;
    /* インジケーターの表示 */
    scroll-marker-group: after;
    scrollbar-width: none;
    border-radius: 12px;
    scroll-snap-align: center;
    height: min($carousel-size, 100svw);
    img {
        width: min($carousel-size, 100svw);
    }
    .carousel-frame {
        width: min($carousel-size, 100svw);
        aspect-ratio: 1;
        scroll-snap-align: center;
        border-radius: 12px;
        overflow: hidden;

        /* インジケーター */
        &::scroll-marker {
            content: "";
            display: block;
            width: $carousel-marker-size;
            height: $carousel-marker-size;
            background-color: $color-secondary;
            transition: background-color 0.2s;
            border-radius: 8px;
            overflow: hidden;
            /* 背景画像を設定 */
            background-image: var(--img);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 2px solid transparent;
            background-clip: padding-box;
        }

        /* インジケーターのカレントスタイル */
        &::scroll-marker:target-current {
            border: 2px solid $color-primary
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &::scroll-marker-group {
        margin-top: $unit * 2;
        width: min($carousel-size, 100svw);
        height: $carousel-marker-size;
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}