.content {
    width: $cw;
    margin: 0 auto;
    container-type: inline-size;
    container-name: content;
    @include cq($cq-tb) {
        width: 100%;
    }
}
.content-wide {
    width: $cw * 1.5;
    margin: 0 auto;
    container-type: inline-size;
    container-name: content-wide;
    @include cq($cq-tb) {
        width: 100%;
    }
}