.gnav {
    & > ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        & > li {
            padding: ($unit * 2);
            @include mq($bp-sp) {
                padding: ($unit * 2) $unit;
            }
        }
        width: $cw;
        margin: 0 auto;
        @include mq($bp-tb) {
            width: 100%;
        }
    }

    a, button {
        padding: $unit;
        text-decoration: none;
        color: $color-primary;
        background-color: $color-base;
        border: none;
        cursor: pointer;
        font-family: $font-family-title;
        font-size: $font-size-default * 1.2;
    }
    button > ul {
        display: none;
    }
    button:focus-within { 
        outline-style: solid;
        outline-color: $color-secondary;
        & > ul {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: minmax(64px, auto);
            gap: $unit;
            list-style: none;
            left:0;
            box-sizing: border-box;
            padding: $unit;
            background-color: $color-secondary;
            border: 1px solid rgba(27, 31, 35, 0.15);
            border-radius: 3px;
            box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
            z-index: 100;
            width: $cw;
            margin: $unit * 2 auto 0;
            @include mq($bp-sp) {
                grid-template-columns: repeat(1, 1fr);
            }
            @include mq($bp-tb) {
                width: 100%;
            }
            & > li {
                display: flex;
            }
        }
    }
    button:focus {
        outline-style: solid;
        outline-color: $color-primary;
    }
}
.gnav-link {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: $unit;
    padding: $unit;
    border: 2px solid transparent;
    background-color: $color-base;
    &:hover {
        border-color: $color-primary;
    }

    .gnav-link-icon {
        width: 64px;
        i {
            font-size: 48px;
        }
    }
}