.hero {
    position: relative;
}
.hero-bgimage {
    position: relative;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    height:calc(100vh - 96px);
    min-height:600px;
}
.hero-text {
    width: 380px;
    margin-left: 140px;
    margin-right: auto;
    background-color: rgba($color: $color-base, $alpha: 0.9);
    backdrop-filter: blur(2px);
    padding: $unit * 4;
    .title {
        color: $color-primary;
        font-size: $font-size-default * 3;
        font-weight: $font-weight-bold;
        letter-spacing: $unit;
        line-height: $font-size-default * 4;
        padding: 0;
        margin: 0;
    }
    .lead {
        color: $color-primary;
        font-size: $font-size-default * 1.5;
        letter-spacing: $unit * .5;
        padding: $unit * 4 0;
    }
    @include mq($bp-tb) {
        margin-left: auto;
        
    }
    @include mq($bp-sp) {
        .title {
            font-size: $font-size-default * 2;
            line-height: $font-size-default * 2.7;
        }
        .lead {
            font-size: $font-size-default * 1.2;
            padding: $unit * 2 0;
        }
    }
}