.icon-cart {
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiPgogICAgICAgICAgICAgICAgPGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjAuNjkyOCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIj4KICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMS43IiBjeT0iMjIuNCIgcj0iMS42Ii8+CiAgICAgICAgICAgICAgICAgICAgPGNpcmNsZSBjeD0iMjEuNSIgY3k9IjIyLjQiIHI9IjEuNiIvPgogICAgICAgICAgICAgICAgICAgIDxwb2x5bGluZSBwb2ludHM9IjksMTAuMSAyNCwxMC4xIDIyLjQsMTguMyAxMC45LDE4LjMgOC41LDYgNiw2Ii8+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvc3ZnPg==");
}
.icon-user {
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiPgogICAgICAgICAgICA8ZyBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMC42OTI4IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTE3LjQsMTQuM2MxLjItMC44LDIuMS0yLjIsMi4xLTMuOEMxOS41LDgsMTcuNSw2LDE1LDZjLTIuNSwwLTQuNSwyLTQuNSw0LjVjMCwxLjYsMC44LDMsMi4xLDMuOCBjLTMuNCwxLjMtNS45LDUuMS01LjksOS43aDE2LjZDMjMuMywxOS40LDIwLjgsMTUuNSwxNy40LDE0LjN6Ii8+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L3N2Zz4=");
}
.icon-heart {
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiPgogICAgICAgICAgICA8ZyBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMC42OTI4IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiPgogICAgICAgICAgICA8cGF0aCBkPSJNMjAuNDM0NCA3QzE3LjYzNjMgNyAxNi41MTU0IDkuMzk3IDE2IDEwLjYxMjVDMTUuNDg0NiA5LjM5NyAxNC4zNjM3IDcgMTEuNTY1NiA3QzguMzUwMTkgNyA2LjcxMzg3IDEwLjIyMTUgNy4wNDExMyAxMy4xNDU1QzcuMzI3NDkgMTUuNjk1NSA5LjA3ODM1IDE4LjE1MiAxMC43MjI5IDE5Ljk0NTVDMTIuMzEyMyAyMS41MjAzIDE0LjA4NTIgMjIuODgyMyAxNiAyNEMxNy45MTU4IDIyLjg3NyAxOS42ODg2IDIxLjUwOTIgMjEuMjc3MSAxOS45Mjg1QzIyLjkxMzUgMTguMTUyIDI0LjY3MjUgMTUuNjc4NSAyNC45NTg5IDEzLjEyODVDMjUuMjg2MSAxMC4yMjE1IDIzLjY0OTggNyAyMC40MzQ0IDdaIi8+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L3N2Zz4=");
}

.product-icon {
    display: inline-block;
    width: 200px;

    &.icon-small {
        width: 64px;
    }
}
