@{
    var order = Page.ViewData.Model as PurchaseOrder;
    bool isGuest = order.OrderCustomer.IsGuest;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    var lines = order.Items.Where(l => l.OrderLineType != OrderLineType.SetProductChild && l.OrderLineType != OrderLineType.Benefit);
    var history = isGuest ? GuestOrderUrl(order.OrderCustomer.GuestAccessKey) : HistoryUrl(order.OrderId);

  ViewBag.DataLayer = new {
      @event = "purchase",
      ecommerce = new {
          purchase = new {
              transaction_id = order.OrderId.ToString(),
              affiliation = "Online Store",
              value = order.TotalPayment.ToString("F0"),
              tax = lines.Sum(l => l.Tax).ToString("F0"),
              shipping = order.DeliveryCharge.ToString("F0"),
              currency = "JPY",
              coupon = order.ServiceValues.ContainsKey("CampaignCode") ? order.ServiceValues["CampaignCode"] : null,
              items = lines.Select(l => new {
                  item_name = l.Product.Name,
                  item_id = l.Product.ExternalId1,
                  item_category = l.Product.Categories.FirstOrDefault(c => c.CategoryGroupID == 2)?.ExternalCategoryName1,
                  price = (l.LinePrice / l.OrderAmount).ToString("F0"),
                  quantity = l.OrderAmount,
              })
          }
      }
  };
  ViewBag.PageTitle = "注文完了";
}
<main class="section content">
    <h1 class="h-underline">ご注文ありがとうございました</h1>
    @DisplayViewMessages(viewData)
    <div class="message-box">
        <p class="message text-center lead">
            ご注文いただき、ありがとうございました。<br>
            ご注文完了の確認メールをお送りいたしますので、必ずご確認ください。
        </p>
        @RenderParts("Message")
        <div class="block block-vertical">
            <a href="@Href("~/")" class="btn btn-primary btn-next">トップページへ戻る</a>
            <a href="@history" class="btn btn-primary btn-text btn-next">注文詳細を確認する</a>
        </div>
    </div>
</main>