@using System;
@using System.Web;
@using System.Text;
@{
    var order = Page.ViewData.Model as PurchaseOrder;
    var postTo = GetConfigValue("GMOPG_SHOP_LINK");
    var shopPass = GetConfigValue("GMOPG_SHOP_PASSWORD");
    var payload = new Dictionary<string, string> {
        ["ShopID"] = GetConfigValue("GMOPG_SHOP_ID"),
        ["OrderID"] = order.OrderId.ToString(),
        ["Amount"] = order.TotalPayment.ToString("F0"),
        ["DateTime"] = DateTime.Now.ToString("yyyyMMddHHmmss"),
        ["RetURL"] = CallbacksGMOPGUrl(),
        ["CancelURL"] = PurchaseExternalUrl(order.Items.First().Product.SalesPattern.CartId,order.OrderId),
        ["SessionTimeout"] = "1200",
        ["TemplateNo"] = "1"
    };
    using (var md5 = new System.Security.Cryptography.MD5CryptoServiceProvider())
    {
        var plane = $"{payload["ShopID"]}|{payload["OrderID"]}|{payload["Amount"]}||{shopPass}|{payload["DateTime"]}";
        var data = Encoding.UTF8.GetBytes(plane);
        var bs = md5.ComputeHash(data);
        var result = BitConverter.ToString(bs).ToLower().Replace("-", "");
        md5.Clear();
        payload.Add("ShopPassString", result);
    }
    if (GetConfigValue("GMOPG_USE_CARD") == "1") {
        payload.Add("UseCredit", "1");
        payload.Add("JobCd", "AUTH");
    }
    if (GetConfigValue("GMOPG_USE_CVS") == "1") {
        payload.Add("UseCvs", "1");
        payload.Add("ReceiptsDisp11", GetConfigValue("GMOPG_ReceiptsDisp11"));
        payload.Add("ReceiptsDisp12", GetConfigValue("GMOPG_ReceiptsDisp12"));
        payload.Add("ReceiptsDisp13", GetConfigValue("GMOPG_ReceiptsDisp13"));
    }
    if (GetConfigValue("GMOPG_USE_AU") == "1") {
        payload.Add("UseAu", "1");
        payload.Add("Commodity", GetConfigValue("GMOPG_ServiceName") + "　購入品");
        payload.Add("ServiceName", GetConfigValue("GMOPG_ServiceName"));
        payload.Add("ServiceTel", GetConfigValue("GMOPG_ServiceTel"));
    }
    if (GetConfigValue("GMOPG_USE_DOCOMO") == "1") {
        payload.Add("UseDocomo", "1");
    }
    if (GetConfigValue("GMOPG_USE_SB") == "1") {
        payload.Add("UseSb", "1");
    }
    ViewBag.MetaTitle = "お支払いのご案内";
}

<main class="section content">
    <h1 class="h-underline">お支払いのご案内</h1>
    <div class="message-box">
        <p class="message text-center lead">
            在庫の確保が完了致しました。<br>
            GMOペイメントゲートウェイ社が提供するお支払ページよりお支払ください。
        </p>
        <div class="message block">
            <ul class=" text-list-dot">
                <li>お支払有効期限：@(order.OrderCustomer.AutoCancelDate.Value.AddMinutes(-1).ToString("yyyy/MM/dd HH:mm:ss"))</li>
                <li>有効期限をすぎますと確保された在庫は自動的にキャンセルされます。</li>
            </ul>
        </div>
        <form method="post" action="@postTo" class="block">
            @foreach(var datum in payload) {
                @:@Page.Html.Hidden(datum.Key, datum.Value)
            }
            <button type="submit" class="btn btn-action btn-large btn-next">お支払いページへ進む</button>
        </form>
    </div>
</main>

@section ScriptBlock {
    <script>
    if (/iPhone|iPad|iPod|Android/.test(window.navigator.userAgent)) {
        $('[name="TemplateNo"]').val(2);
    }
    </script>
}