<%
    const {
        serverError,
        complete
    } = locals;
%>
<%- include('gnav') %>
<main class="content-wide columns">
    <div class="col-3 col-order-2 col-order-1-sp">
        <% if (serverError) { %>
            <%- include('alert', { color: 'error' }) %>
        <% } %>
        <% if (complete) { %>
            <%- include('alert', { color: 'success', messages: ['会員情報を変更しました。'] }) %>
        <% } %>
        <section class="section">
            <h1 class="h-underline">会員情報</h1>
            <dl class="field">
                <dt class="field-title">氏名</dt>
                <dd class="field-body">
                    <p class="field-text">山田太郎</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">フリガナ</dt>
                <dd class="field-body">
                    <p class="field-text">ヤマダタロウ</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">誕生日</dt>
                <dd class="field-body">
                    <p class="field-text">2000年1月1日</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">性別</dt>
                <dd class="field-body">
                    <p class="field-text">未選択</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">メルマガ配信</dt>
                <dd class="field-body">
                    <p class="field-text">希望しない</p>
                </dd>
            </dl>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="/?path=/story/pages-member-account--index#customer">会員情報を変更する</a></p>
        </section>
        <section class="section">
            <h1 class="h-underline">会員住所</h1>
            <dl class="field">
                <dt class="field-title">住所</dt>
                <dd class="field-body">
                    <p class="field-text">〒1030014 都道府県市区町村町丁番号 建物名・部屋番号</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">電話番号</dt>
                <dd class="field-body">
                    <p class="field-text">00000000000</p>
                </dd>
            </dl>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next"  href="/?path=/story/pages-member-account--index#address">会員住所を変更する</a></p>
        </section>
        <section class="section">
            <h1 class="h-underline">ログイン情報</h1>
            <dl class="field">
                <dt class="field-title">メールアドレス</dt>
                <dd class="field-body">
                    <p class="field-text">info@commerble.com</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">パスワード</dt>
                <dd class="field-body">
                    <p class="field-text">セキュリティのため表示しておりません</p>
                </dd>
            </dl>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="/?path=/story/pages-member-account--index#email">メールアドレスを変更する</a></p>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="/?path=/story/pages-member-password--index">パスワードを変更する</a></p>
            <div class="block">
                <a href="/?path=/story/pages-top--default" class="btn btn-default btn-next">ログアウト</a>
            </div>
        </section>
        <section class="section">
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="/?path=/story/pages-member-quit--index">退会する</a></p>
        </section>
    </div>
    <%- include('memberMenu', { active: 'index' }) %>
</main>