@{
    Page.NoCache = true;

    if (!IsPreview) {
        if (!Page.Request.IsAuthenticated ) { 
            Page.Response.Redirect(LoginUrl());
        }
        
        if (!Page.Template.UserIsInRole("Preview")) {
            throw new System.Web.HttpException(403, "Forbidden");
        }
    }
    
    if (IsPost) {
        System.Web.Helpers.AntiForgery.Validate();

        Page.Response.Cookies.Add(new System.Web.HttpCookie(PREVIEW_KEY, Page.Request.Form["time"]){ Secure = true, HttpOnly = true, Expires = Page.Request.Form["end"] != null ? DateTime.Now.AddSeconds(-1) : default(DateTime) });
        Page.Response.Redirect(fallback(Page.Request.QueryString["returnUrl"], TopUrl()));
    }

    ViewBag.MetaTitle = "プレビュー";
}
<main class="section content">
    <h1 class="h-underline">プレビュー</h1>
    <div class="message-box">
        <p class="message text-center">
            プレビューを開始すると、発行フラグがOFFのアイテムが確認できるようになります。<br>
            プレビュー時間を指定すると、表示開始日時、表示終了日時を検証できます。
        </p>
    </div>
    <form method="post">
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field">
            <dt class="field-title">プレビュー時間</dt>
            <dd class="field-body">
                <input type="datetime-local" name="time" value="@Now.ToString("yyyy-MM-ddTHH:mm")">
            </dd>
        </dl>
        <div class="block block-horizontal">
            <input type="submit" name="start" value="プレビュー開始" class="btn btn-action">
            <input type="submit" name="end" value="プレビュー終了" class="btn btn-danger">
        </div>
    </form>
</main>