@{
    Page.NoCache = true;

    if (!IsPreview) {
        if (!Page.Request.IsAuthenticated ) { 
            Page.Response.Redirect(Page.Template.GetLoginUrl());
        }
        
        if (!Page.Template.UserIsInRole("Preview")) {
            throw new System.Web.HttpException(403, "Forbidden");
        }
    }
    
    if (IsPost) {
        System.Web.Helpers.AntiForgery.Validate();

        Page.Response.Cookies.Add(new System.Web.HttpCookie(PREVIEW_KEY, Page.Request.Form["time"]){ Secure = true, HttpOnly = true, Expires = Page.Request.Form["end"] != null ? DateTime.Now.AddSeconds(-1) : default(DateTime) });
        Page.Response.Redirect("~/");
    }

    ViewBag.PageTitle = "プレビュー";
}
<div class="section">
    <div class="inner">
        <div class="formWrapper">
            <form method="post">
                @Page.Html.SessionAntiForgeryToken()
                <section class="formSection">
                    <h1 class="formSectionTitle center">プレビュー</h1>
                    <p class="formSectionLead">
                        プレビューを開始すると、発行フラグがOFFのアイテムが確認できるようになります。<br>
                        プレビュー時間を指定すると、表示開始日時、表示終了日時を検証できます。
                    </p>
                    <dl class="formBlock required">
                        <dt class="formBlockTitle">プレビュー時間</dt>
                        <dd class="formBlockBody">
                            <div class="formItem">
                                <input type="datetime-local" name="time" value="@Now.ToString("yyyy-MM-ddTHH:mm")">
                            </div>
                        </dd>
                    </dl>
                    <div class="buttonContainer" style="margin-top:32px;">
                        <input type="submit" name="start" value="プレビュー開始" class="btCallToAction btNext">
                        <input type="submit" name="end" value="プレビュー終了" class="btAccent btNext">
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>