<%
    const {
        external
    } = locals;
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>内容確認</title>
</head>
<body>
    <%- include('gheader') %>
    <section class="section content">
        <h1 class="h-underline">購入</h1>
        <form>
            <%- include('cartLines', { items: 2, error: false, campaign:true, action: false }) %>
            <h2 class="h-centerline mt"><span>ご注文詳細情報</span></h2>
            <h3 class="h-title">お客様情報</h3>
            <dl class="field">
                <dt class="field-title">氏名（フリガナ）</dt>
                <dd class="field-body">
                    <p class="field-text">山田 太郎（ヤマダ タロウ）</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">住所</dt>
                <dd class="field-body">
                    <p class="field-text">〒1000013 東京都中央区日本橋蛎殻町</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">電話番号</dt>
                <dd class="field-body">
                    <p class="field-text">00000000000</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">メールアドレス</dt>
                <dd class="field-body">
                    <p class="field-text">info@commerble.com</p>
                </dd>
            </dl>
            <h3 class="h-title">お届け先</h3>
            <dl class="field">
                <dt class="field-title">氏名（フリガナ）</dt>
                <dd class="field-body">
                    <p class="field-text">山田 太郎（ヤマダ タロウ）</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">住所</dt>
                <dd class="field-body">
                    <p class="field-text">〒1000013 東京都中央区日本橋蛎殻町</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">電話番号</dt>
                <dd class="field-body">
                    <p class="field-text">00000000000</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">メールアドレス</dt>
                <dd class="field-body">
                    <p class="field-text">info@commerble.com</p>
                </dd>
            </dl>
            <h3 class="h-title">お届け日時</h3>
            <dl class="field">
                <dt class="field-title">お届け日</dt>
                <dd class="field-body">
                    <p class="field-text">最短でお届け</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">お届け時間</dt>
                <dd class="field-body">
                    <p class="field-text">18:00-21:00</p>
                </dd>
            </dl>
            <h3 class="h-title">お支払方法</h3>
            <dl class="field">
                <dt class="field-title">決済方法</dt>
                <dd class="field-body">
                    <p class="field-text">外部決済（カード、コンビニ決済、キャリア決済）</p>
                </dd>
            </dl>
            <h3 class="h-title">備考</h3>
            <dl class="field">
                <dt class="field-title">備考内容</dt>
                <dd class="field-body">
                    <p class="field-text">家の前の道が悪路なので梱包材多めにお願いいたします。</p>
                </dd>
            </dl>
            <div class="block block-vertical">
                <a class="btn btn-action btn-large"><%= external?'注文を確定して決済へ進む':'注文を完了する' %></a>
            </div>
        </form>
    </section>
    <%- include('gfooter') %>
</body>
</html>