<nav class="gnav">
    <ul>
        <li><a href="javascript:void(0)">Home</a></li>
        <li>
            <button>
                Lady's
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <button>
                Men's
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                </ul>
            </button>
        </li>
        <li>
            <button>
                Unisex
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="gnav-link">
                            <div class="gnav-link-icon">
                                <div class="image image-square"><img src="https://httpstat.us/404"></div>
                            </div>
                            <div class="gnav-link-text">AAAAA</div>
                        </a>
                    </li>
                </ul>
            </button>
        </li>
    </ul>
</nav>