<%
    let {
        color,
        messages
    } = locals;
    if (!messages) {
        messages = ['アラートメッセージ', 'アラートメッセージ', 'アラートメッセージ'];
    }
%>
<div class="alert alert-<%= color %>">
    <% for (let message of messages) { %>
        <p><%= message %></p>
    <% } %>
</div>