@{
    ViewBag.PageTitle = "既に登録済みです";
}
<div class="section">
    <div class="inner">
        <div class="formWrapper">
            <section class="formSection">
            <h1 class="formSectionTitle center">409 Conflict : 既に登録済みです</h1>
                <p class="formSectionLead">選択された項目は、既に登録済みです。</p>
                <div class="buttonContainer">
                    <a href="javascript:history.back();" class="btPrimary btNormalSize btPrev">もどる</a>
                </div>
            </section>
        </div>
    </div>
</div>
