@{
    ViewBag.MetaTitle = "要求が受理できません";
}
}
<main class="section content">
    <h1 class="h-border text-center">406 Not Acceptable : 要求が受理できません</h1>
    <div class="message-box">
        <p class="message lead text-center">セッションが切れています。再ログインしてください。</p>
        <div class="block">
            <a href="@LoginUrl()" class="btn btn-primary btn-text btn-next">ログイン</a>
        </div>
    </div>  
</main>
