@{
    Page.Response.StatusCode = 451;
    ViewBag.PageTitle = "不正なリソースです";
}
<main class="section content">
    <h1 class="h-border text-center">451 Unavailable For Legal Reasons : 不正なリソースです</h1>
    <div class="message-box">
        <p class="message lead text-center">アクセスしようとしたページは、現在利用できません。</p>
        <div class="block">
            <a href="javascript:history.back();" class="btn btn-primary btn-text btn-prev">もどる</a>
        </div>
    </div>  
</main>
