@{
    ViewBag.MetaTitle = "ページが見つかりません";
}
<main class="section content">
    <h1 class="h-border text-center">404 Not Found : ページが見つかりません</h1>
    <div class="message-box">
        <p class="message lead text-center">アクセスしようとしたページは、現在利用できません。</p>
        <div class="block">
            <a href="javascript:history.back();" class="btn btn-primary btn-text btn-prev">もどる</a>
        </div>
    </div>  
</main>
