@{
    ViewBag.PageTitle = "アクセスが出来ません";
}
<div class="section">
    <div class="inner">
        <div class="formWrapper">
            <section class="formSection">
            <h1 class="formSectionTitle center">403 Forbidden : アクセスが出来ません</h1>
                <p class="formSectionLead">アクセスしようとしたページは、現在利用できません。</p>
                <div class="buttonContainer">
                    <a href="javascript:history.back();" class="btPrimary btNormalSize btPrev">もどる</a>
                </div>
            </section>
        </div>
    </div>
</div>
