@{
    ViewBag.PageTitle = "予期せぬエラーが発生しました";
}
<div class="section">
    <div class="inner">
        <div class="formWrapper">
            <section class="formSection">
            <h1 class="formSectionTitle center">500 Internal Server Error : 予期せぬエラーが発生しました</h1>
                <p class="formSectionLead">
                    不正な入力がされたか、アクセスが集中している可能性があります。<br>
                    入力を見直していただくか、しばらく時間をおいてから再度お試しください。
                </p>
                <div class="buttonContainer">
                    <a href="javascript:history.back();" class="btPrimary btNormalSize btPrev">もどる</a>
                </div>
            </section>
        </div>
    </div>
</div>
