@{
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    ViewBag.MetaTitle = "不正な操作";
}
<main class="section content">
    <h1 class="h-border text-center">400 Bad Request : 不正な操作</h1>
    @DisplayViewMessages(viewData)
    <div class="message-box">
        <p class="message lead text-center">不正な操作をされました。先のページにすすむことは出来ません。</p>
        <div class="block">
            <a href="javascript:history.back();" class="btn btn-primary btn-text btn-prev">もどる</a>
        </div>
    </div>  
</main>
