@{
    ViewBag.PageTitle = "不正な操作";
}
<div class="section">
    <div class="inner">
        <div class="formWrapper">
            <section class="formSection">
            <h1 class="formSectionTitle center">400 Bad Request : 不正な操作</h1>
                <p class="formSectionLead">不正な操作をされました。先のページにすすむことは出来ません。</p>
                <div class="buttonContainer">
                    <a href="javascript:history.back();" class="btPrimary btNormalSize btPrev">もどる</a>
                </div>
            </section>
        </div>
    </div>
</div>
