@{
    ViewBag.MetaTitle = "既に登録済みです";

    var path = Page.Request.Url.AbsolutePath.ToLower();
    if (path.EndsWith("member/createfavorite")) {
        Page.Response.Redirect(FavoriteUrl());
    }
    if (path.EndsWith("member/createnotice")) {
        Page.Response.Redirect(ReserveUrl());
    }
}
<main class="section content">
    <h1 class="h-border text-center">409 Conflict : 既に登録済みです</h1>
    <div class="message-box">
        <p class="message lead text-center">選択された項目は、既に登録済みです。</p>
        <div class="block">
            <a href="javascript:history.back();" class="btn btn-primary btn-text btn-prev">もどる</a>
        </div>
    </div>  
</main>
