@{
    ViewBag.MetaTitle = "アクセスが出来ません";
}
<main class="section content">
    <h1 class="h-border text-center">403 Forbidden : アクセスが出来ません</h1>
    <div class="message-box">
        <p class="message lead text-center">アクセスしようとしたページは、ご利用できません。</p>
        <div class="block">
            <a href="javascript:history.back();" class="btn btn-primary btn-text btn-prev">もどる</a>
        </div>
    </div>  
</main>
