@{
    ViewBag.PageTitle = "要求が受理できません";
}
<div class="section">
    <div class="inner">
        <div class="formWrapper">
            <section class="formSection">
            <h1 class="formSectionTitle center">406 Not Acceptable : 要求が受理できません</h1>
                <p class="formSectionLead">セッションが切れています。再ログインしてください。</p>
                <div class="buttonContainer">
                    <a href="@LoginUrl()" class="btPrimary btNormalSize btPrev">ログイン</a>
                </div>
            </section>
        </div>
    </div>
</div>
