<main class="section content">
    <h1 class="h-underline">ご注文ありがとうございました</h1>
    <div class="message-box">
        <p class="message text-center lead">
            ご注文いただき、ありがとうございました。<br>
            ご注文完了の確認メールをお送りいたしますので、必ずご確認ください。
        </p>
        <div class="block block-vertical">
            <a href="./?path=/story/pages-top--default" class="btn btn-primary btn-next">トップページへ戻る</a>
            <a href="./?path=/story/pages-order-history--item" class="btn btn-primary btn-text btn-next">注文詳細を確認する</a>
        </div>
    </div>
</main>