<% 
    const {
        columns,
        items,
    } = locals;
    const repeat = (str, max = 10, min = 3) => [...Array(~~(Math.random() * (max - min)) + min)].map(() => str).join(' ');
%>
<div class="tiles tiles-x<%=columns%>">
    <% for (let i = 0; i < items; i++) { %>
        <article class="tile">
            <a href="javascript:void(0)" rel="bookmark">
                <h1><%= repeat('Title') %> <%=i%></h1>
                <time datetime="2021-01-01">2021.01.01</time>
                <figure class="image image-golden">
                    <img src="https://httpstat.us/404" alt="Tile Image ${i}">
                </figure>
            </a>
        </article>
    <% } %>
</div>