<%
    const {
        empty,
        last
    } = locals;
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
</head>
<body>
    <%- include('gheader') %>
    <%- include('gnav') %>
    <section class="section content">
        <h1 class="h-border text-center">商品一覧</h1>
        <form class="block block-horizontal">
            <dl class="field">
                <dd class="field-body">
                    <div class="field-group">
                        <select name="filter">
                            <option value="">---</option>
                            <optgroup label="カテゴリ">
                                <optgroup label="Men&#39;s">
                                    <option value="category/mens/bottoms" >BOTTOMS - ボトムス</option>
                                    <option value="category/mens/shoes" >SHOES - シューズ</option>
                                </optgroup>
                                <optgroup label="Unisex">
                                    <option value="category/unisex/tops" >TOPS - トップス</option>
                                </optgroup>
                                <optgroup label="Women&#39;s">
                                    <option value="category/womens/bottoms" >BOTTOMS - ボトムス</option>
                                    <option value="category/womens/shoes" >SHOES - シューズ</option>
                                </optgroup>
                            </optgroup>
                            <optgroup label="タグ">
                                <option value="tag/new" >NEW</option>
                                <option value="tag/only" >限定品</option>
                                <option value="tag/select" selected>イチオシ</option>
                                <optgroup label="シーズン">
                                    <option value="tag/season/2022aut" >2022年秋</option>
                                    <option value="tag/season/2022spr" >2022年春</option>
                                    <option value="tag/season/2022sum" >2022年夏</option>
                                    <option value="tag/season/2022win" >2022年冬</option>
                                </optgroup>
                            </optgroup>
                        </select>
                        <select name="sort">
                            <option value="rcm_desc" >おすすめ順</option>
                            <option value="rkg_asc" >ランキング順</option>
                            <option value="prc_asc" >価格が安い順</option>
                            <option value="prc_desc" >価格が高い順</option>
                            <option value="new" selected>新しい順</option>
                            <option value="old" >古い順</option>
                        </select>
                        <button type="submit" class="btn btn-default">🔍 絞り込む</button>
                    </div>
                </dd>
            </dl>
        </form>
        <% if (empty) { %>
            <div class="message-box">
                <p class="message text-center lead">ご希望の条件に合致する商品が見つかりませんでした。<br>条件を変更し再度お試しください。</p>
            </div>
        <% } else { %>
            <%- include('tile.product', {columns: 4, items: 12 }) %>
            <% if (!last) { %>
                <div class="block block-vertical">
                    <a class="btn btn-default btn-next">次のページ</a>
                </div>
            <% } %>
        <% } %>
    </section>
    <%- include('gfooter') %>
</body>
</html>